/*60CM congig页面样式
header {height:50px;background-color:#64B2E0;top:-6px;}

header div {width:1200px;margin:0 auto;line-height:50px;color:#eaf1f9;font-size:14px;}

header img {top:10px;}

header p {display:inline-block;right:82px;font-size:14px;}

header p a {color:#eaf1f9;}

header div div {border:1px solid #fff; font-size:14px; text-align:center;
			right:0px;top:12px; width:78px; height:26px;line-height:26px;}

header div div a {color:#eaf1f9;}*/

/*******以上为公共头样式 以下为具体页面样式 各配置页基本通用**********/
footer {position:fixed; bottom: 0px; width:100%;}

#at60devs input {margin-left:6px; margin-right:40px;}

.mrgTop {margin-top:10px;padding:0 6px;}

.optionTitle {font-weight:bold;color:#64B2E0;}

.optionLeng {width:192px; line-height:26px;}

