footer {position:fixed; bottom: 0px; width:100%;}

#at60devs input {margin-left:6px; margin-right:40px;}

.mrgTop {margin-top:10px;padding:0 6px;}

.optionTitle {font-weight:bold;color:#64B2E0;}

.optionLeng {width:192px; line-height:26px;}

