/*60CM样式*/
.bar {background-color:#eeeeee; height:50px;margin-top:5px;margin-bottom:15px;}

div.bar {line-height:50px;}
header {height:50px;background-color:#64B2E0;top:-6px;}

header div {width:1200px;margin:0 auto;line-height:50px;color:#eaf1f9;font-size:14px;}

header img {top:10px;}

header p {display:inline-block;right:82px;font-size:14px;}

header p a {color:#eaf1f9;}

header div div {border:1px solid #fff; font-size:14px; text-align:center;
			right:0px;top:12px; width:78px; height:26px;line-height:26px;}

header div div a {color:#eaf1f9;}

.center {text-align:center;}

.center_mrg {margin:0 auto;}

.title_text {font-size:21px;}

#timeInfo {text-align:center;}

#time {margin:18px auto;}

#time td {align:center; width:190px;padding-right:50px;}

#atPic img {width:22%;}

#atInfo {top:0px;right:0px;width:50%;}

#atInfo table td {text-align:left;width:240px;margin-left:10px;font-size:13px;}

#atInfo table td span {color:#00B5EE}

#devsInfo {margin:20px auto;}

#devsInfo .childDev {display:inline-block;width:228px;margin-right:4px;margin-left:4px;}

#devsInfo div.txt-cntr {margin-bottom:12px;}

#devsInfo div.pos_a {top:0.2px;}

#devsNav {height:40px;background-color:#3578c6;}

#devsNav table {margin:0 auto;}

#devsNav table tr{line-height:40px;}

#devsNav table td{width:95px;text-align:center;}

#devsNav table td a{color:#ccc;padding-bottom:4px;}

div.notCheck {color:#d0d0d0;}

.hover {background-color:#3578c6;color:#fff;border:0;}

#devsNav a.borderBtm {border-bottom:3px solid #fff;color:#fff;}

.properUl {margin-left:100px;}

ul.properUl li {margin-left:16px;margin-right:8px;width:226px;margin-bottom:13px;}
ul.properUl li span {color:#00B5EE;}

.submitBtn {width:135px;height:32px;font-size:18px;margin-left:535px;}

#exposStratic span {width:295px;float:left;padding-bottom:13px;margin-right:4px;}

footer {background-color:#656565;height:41px;}

footer span {color:#fff;line-height:41px;font-size:13px;}

