/*首页样式*/
header {height:50px;background-color:#64B2E0;top:-6px;}

header div {width:1200px;margin:0 auto;line-height:50px;color:#eaf1f9;font-size:14px;}

header img {top:10px;}

header p {display:inline-block;right:82px;font-size:14px;}

header p a {color:#eaf1f9;}

header div div {border:1px solid #fff; font-size:14px; text-align:center;
			right:0px;top:12px; width:78px; height:26px;line-height:26px;}

header div div a {color:#eaf1f9;}

#weatherD {color:#CCA07C;}

.more {display:inline-block;width:68px;font-size:11px;color:#64B2E0;
			line-height:23px;}

#weather table td {width:198px;}

#weather table td span {padding-top:16px;display:inline-block;font-size:13px;}

#weather table td img {background-color:#64B2E0;float:left;}

ul {left:120px;}
li.frontLi {list-style-type:disc;color:#64B2E0; width:550px;}

#notice {background-color:#F9F9F9;}
#notice li span {color:#000;}

#map {color:#000;}

#all_1 {width:1200px; margin: 0 auto;}  