/*气象信息 more 样式
header {height:50px;background-color:#64B2E0;top:-6px;}

header div {width:1200px;margin:0 auto;line-height:50px;color:#eaf1f9;font-size:14px;}

header img {top:10px;}

header p {display:inline-block;right:82px;font-size:14px;}

header p a {color:#eaf1f9;}

header div div {border:1px solid #fff; font-size:14px; text-align:center;
			right:0px;top:12px; width:78px; height:26px;line-height:26px;}

header div div a {color:#eaf1f9;}*/

.more {display:inline-block;width:68px;font-size:11px;color:#64B2E0;
			line-height:23px;}

#cloud_1 img, #cloud_2 img {width:570px;}

#cloud_1 p, #cloud_2 p {width:100px; margin:0 auto;}

#cloud_1 {width:570px;}

#cloud_2 {right:0;top:0;}

#all {margin-top:22px;}

#tb_1 {width:570px;}

#tb_2 {right:0;top:0;}

.leng_1 {width:189px;}

.leng_2 {width:379px;}

table th {background-color:#2FB0F4; color:#fff;font-size:16px;}

table td {background-color:#73B9F7; color:#fff;font-size:16px;}

tr {height:43px;}

.mrg {margin:26px 40px 26px 120px;}

.fnt {color:#2DB0F6;font-size:18px;}
    