<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>{$at_name[$data['at_id']]}</title>
	 {load href='/static/plugin/easyui-1.3.5/jquery.min.js'}
	 {load href='/static/plugin/layer/layer.js'}
	 {load href='/static/plugin/easyui-1.3.5/themes/default/easyui.css'}
     {load href='/static/plugin/easyui-1.3.5/themes/icon.css'}
     {load href='/static/plugin/easyui-1.3.5/jquery.easyui.min.js'}
	 {load href='/static/plugin/easyui-1.3.5/locale/easyui-lang-zh_CN.js'}
	 {load href='/static/plugin/vue.js'}
	 {load href='/static/css/common-1.css'}
	 {load href='/static/css/atpage.css'}
	 <script>
		var at = "{$data['at_id']}"; //atlist表中的主键id
		var aperture = "{$at_aperture[$data['at_id']]}"; //即添加望远镜时的口径值
		var configData =  {$data['configData']}; //各子设备的配置数据
		console.log(configData.gimbal.longitude);
	</script>
	 {load href='/static/js/atpage.js'}
</head>
<body>
	{include file="common/common"/}
	<div id='all'>{{configData.has_gimbal}}
        <div class='pos_r'><!--重要信息区域 开始-->
			<div id='atPic'>
                <img src='/static/images-1/location_1.png'/>
                <img src='/static/images-0/location.png'/>
				<a class='pos_a border1 more inline center' id='takeOverBtn'>接管</a>
			</div>
			
			<div id='panel' class='displayNo pos_a'><!--接管弹窗-->
				<div id='takeOverPanel'>
				<table class='center_mrg'>
					<tr class='center'><td colspan='2' style='color:red'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;望远镜未占用</td>
					</tr>
					<tr class='text_r'>
						<td>权限</td>
						<td><select name="role" style="width:150px">
							<option value="role1">抢占</option>
							<option value="role2">禁止抢占</option>
							</select>
						</td>
					</tr>
					<tr class='text_r'>
						<td>接管起始时间</td>
						<td><input class="easyui-datetimebox" editable=false style="width:150px">
						</td>
					</tr>
					<tr class='text_r'>
						<td>接管结束时间</td>
						<td><input class="easyui-datetimebox" editable=false style="width:150px">
						</td>
					</tr>
					<tr class='center'>
						<td colspan='2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class='border1 more inline center' id='doTakeOver'>接管望远镜</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a class='border1 more inline center' id='noTakeOver'>放弃接管</a></td>
					</tr>
				</table>
				</div>
			</div><!--接管弹窗 结束-->
			
			<div id='infos' class='border pos_a'>
				<table id='time' class='center'>
					<tr>
						<td>UTC时</td>
						<td>历元</td>
						<td>恒星时</td>
						<td>晨光始</td>
						<td>昏影终</td>
					</tr>
					<tr class='tdC'>
						<td id='utcTime'></td>
						<td>J2000</td>
						<td id='siderealTime'></td>
						<td>{$Think.session.sunRise}</td>
						<td>{$Think.session.sunSet}</td>
					</tr>
				</table>
				
				<hr style='width:98%;' class='center_mrg'><br>
				<table id='time_1' class='center_mrg '>
					<tr>
					  <td>当前状态:<span id='curstatus' style='color:red;'></span>
					  </td>
					  <td>跟踪误差:<span id='trackError'></span>
					  </td>
					  <td>当前时角:<span id='hourAngle'></span>
					  </td>
                    </tr>
                    <tr>
					  <td>镜盖状态:<span id='coverStatus'></span>
					  </td>
					  <td>当前赤经:<span id='rightAscension'></span>
					  </td>
					  <td>当前赤纬:<span id='declination'></span>
					  </td>
                    </tr>
                    <tr>
					  <td>目标名:<span id='trackObjectName'></span>
					  </td>
					  <td>目标类型:<span id='trackType'></span>
					  </td>
					  <td>目标赤经:<span id='targetRightAscension'></span>
					  </td>
                    </tr>
                    <tr>
					  <td>目标赤纬:<span id='targetDeclination'></span>
					  </td>
					  <td>当前方位:<span id='azmiuth'></span>
					  </td>
					  <td>当前俯仰:<span id='elevation'></span>
					  </td>
                    </tr>
					<tr>
					  <td>赤经速度:<span id='RightAscensionSpeed'></span>
					  </td>
					  <td>赤纬速度:<span id='declinationSpeed'></span>
					  </td>
					  <td>轴1跟踪误差:<span id='axis1TrackError'></span>
					  </td>
					  <!-- <td>当前消旋位置:<span id='derotatorPositon'></span>
					  </td> -->
                    </tr>
					<tr>
					  <!-- <td>目标消旋位置:<span id='targetDerotatorPosition'></span>
					  </td> -->
					  <td>轴2跟踪误差:<span id='axis2TrackError'></span>
					  </td> 
					</tr>
					<!-- <tr>
					  <td>轴3跟踪误差:<span id='axis3TrackError'></span>
					  </td>
					</tr>			 -->
				</table>
			</div>
		</div><!--重要信息区域 结束-->
        <div id='devsInfo' class='pos_r center'>
            <div class='childDev'>
               <img src='/static/images-1/focus.png' width='100px;'/>
				<br />调焦位置
            </div>
            <div class='childDev'>
                <img src='/static/images-1/filter.png' width='100px;'/>
				<br />滤光片位置
            </div>
            <div class='childDev'>
                <img src='/static/images-1/ccdTemp.png' width='100px;' /><br />CCD温度
            </div>
            <div class='childDev'>
                <img src='/static/images-1/ccdExpo.png' width='100px;' /><br />CCD曝光率(%)
            </div>
            <div class='childDev'>
				<img src='/static/images-1/ccdExpo.png' width='100px;' />
                <br />设备状态信息
            </div>
			<img class='center_mrg' src='/static/images-1/line.png' width='970px;' style='display:block;'/>
			<div class='pos_a' style='left:47px;top:168px;width:150px;'>
				<!-- <img src='/static/images-1/zt.png' > -->
				<img id='gimbPic' src='/static/images-1/ok.jpg' >
				<p id='gimbStatus'></p>
			</div>
			<div class='pos_a' style='left:287px;top:168px;width:150px;'>
				<!-- <img src='/static/images-1/ccd.png' > -->
				<img src='/static/images-1/ok.jpg' >
				<p id='ccdStatus'></p>
			</div>
			<div class='pos_a' style='left:526px;top:168px;width:150px;'>
				<!-- <img src='/static/images-1/tjq.png' > -->
				<img src='/static/images-1/ok.jpg' ><p id='focusStatus'></p>
			</div>
			<div class='pos_a' style='left:772px;top:168px;width:150px;'>
				<!-- <img src='/static/images-1/yd.png' > -->
				<img src='/static/images-1/ok.jpg' ><p id='domeStatus'></p>
			</div>
			<div class='pos_a' style='left:1021px;top:168px;width:128px;'>
				<!-- <img src='/static/images-1/lgp.png' > -->
				<img src='/static/images-1/ok.jpg' ><p id='filterStatus'></p>
			</div>
        </div><!--重要信息区域 结束-->
		<br ><br>

        <div id='devsNav'><!--望远镜子设备导航:js用code/public/static/js/dev1.js-->
            <table>
                <tr>
				  <td><a :class='{borderBtm: device_nav.dev_click=="plan"}' @click='plan_click' >观测计划</a></td>
				  <td><a :class='{borderBtm: device_nav.dev_click=="pic"}' @click='pic_click' >观测图像</a></td>
				  <td v-if='configData.has_gimbal'><a :class='{borderBtm: device_nav.dev_click=="gimbal"}' @click='gimbal_click' >转台</a></td>
				  <td class='pos_r' v-if='configData.ccd_num>0' ><a :class='{borderBtm: device_nav.dev_click=="ccd"}' @click='ccd_click' >{{ccd_name}}</a>
					<select id="" v-model='device_nav.ccdNo' v-if='configData.ccd_num>1' class='pos_a' style="top:86%;left:15%;z-index:9999;" @change='select_ccd' >
						<option value='-1' >选择ccd</option>
						<option v-for="ccd_i in configData.ccd_num" :value="ccd_i" >ccd{{ccd_i}}</option>
					</select>
				 </td>
				  <td v-if='configData.has_filter'><a :class='{borderBtm: device_nav.dev_click=="filter"}' @click='filter_click' >滤光片</a></td>
				  <td v-if='configData.has_sDome'><a :class='{borderBtm: device_nav.dev_click=="sDome"}' @click='sDome_click' >随动圆顶</a></td>
				  <td v-if='configData.has_oDome'><a :class='{borderBtm: device_nav.dev_click=="oDome"}' @click='oDome_click' >全开圆顶</a></td>
				  <td v-if='configData.has_focus'><a :class='{borderBtm: device_nav.dev_click=="focus"}' @click='focus_click' >调焦器</a></td>
				  <td v-if='configData.has_guide'><a :class='{borderBtm: device_nav.dev_click=="guide"}' @click='guide_click' >导星</a></td>
				  <td v-if='configData.has_handle'><a :class='{borderBtm: device_nav.dev_click=="handle"}' @click='handle_click' >数据处理</a></td>
				  <td v-if='configData.has_spectrum'><a :class='{borderBtm: device_nav.dev_click=="spectrum"}' @click='spectrum_click' >光谱终端</a></td>
                </tr>
            </table>
			<hr style='height:3px;border:none;border-top:3px solid #ccc;'/>
		</div><!--望远镜子设备导航结束-->
	
		  <div id='gimbalInfo' v-if='device_nav.dev_click=="gimbal"'><!--转台指令和属性-->
             <nav class='center'><!--转台指令 导航-->
			    <span :class='{active: device_nav.gimbal_command=="trackStar"}' @click ='device_nav.gimbal_command="trackStar"' v-if='configData.gimbal.cantrackstar==1'>跟踪恒星</span>
				<span :class='{active: device_nav.gimbal_command=="setObjName"}' @click ='device_nav.gimbal_command="setObjName"' v-if='configData.gimbal.cansetobjectname==1'>设置目标名称</span>
				<span :class='{active: device_nav.gimbal_command=="slewAzEl"}' @click ='device_nav.gimbal_command="slewAzEl"' v-if='configData.gimbal.canslewazel==1'>指向固定位置</span>	
				<span :class='{active: device_nav.gimbal_command=="slewDerotator"}' @click ='device_nav.gimbal_command="slewDerotator"' v-if='configData.gimbal.canslewderotator==1'>轴3指向固定位置</span>
				<span :class='{active: device_nav.gimbal_command=="axis3Mode"}' @click ='device_nav.gimbal_command="axis3Mode"' v-if='configData.gimbal.canconfigderotator==1'>轴3工作模式</span>
				<span :class='{active: device_nav.gimbal_command=="speed_alter"}' @click ='device_nav.gimbal_command="speed_alter"' v-if='configData.gimbal.cansettrackspeed==1'>速度修正</span>
				<span :class='{active: device_nav.gimbal_command=="speed_fixed"}' @click ='device_nav.gimbal_command="speed_fixed"' v-if='configData.gimbal.canfixedmove==1'>恒速运动</span>
				<span :class='{active: device_nav.gimbal_command=="position_alter"}' @click ='device_nav.gimbal_command="position_alter"' v-if='configData.gimbal.canpositioncorrect==1'>位置修正</span>	
				<span :class='{active: device_nav.gimbal_command=="cover_op"}' @click ='device_nav.gimbal_command="cover_op"' v-if='configData.gimbal.cancoveroperation==1'>镜盖操作</span>
				<span :class='{active: device_nav.gimbal_command=="setFocusType"}' @click ='device_nav.gimbal_command="setFocusType"' v-if='configData.gimbal.canfocusoperation==1'>焦点切换镜</span>
				<span :class='{active: device_nav.gimbal_command=="saveSyncData"}' @click ='device_nav.gimbal_command="saveSyncData"' v-if='configData.gimbal.cansavesyncdata==1'>保存同步数据</span>
				<span>跟踪卫星</span>
				<span>属性设置</span>
			 </nav>
			 <div class='border2'><!--转台指令和可变属性-->
				<div id='btnsGimbal' class='center_mrg center BtnsDiv'>
				   <input id='gimbalConnect' v-if='configData.gimbal.canconnect==1' :class='{btnClick: device_nav.gimbal_btn=="connect"}' @click='gimbal_btn_command(1)' class='border1 btnCommand' type='button' value='连接望远镜'>
				   <input id='gimbalDisConnect' v-if='configData.gimbal.canconnect==1' :class='{btnClick: device_nav.gimbal_btn=="disConnect"}' @click='gimbal_btn_command(2)' class='border1 btnCommand' type='button' value='断开望远镜'>		
                   <input id='gimbalFindhome' v-if='configData.gimbal.canfindhome==1' :class='{btnClick: device_nav.gimbal_btn=="findhome"}' @click='gimbal_btn_command(3)' class='border1 btnCommand' type='button' value='找  零'>
                   <input id='gimbalPark' v-if='configData.gimbal.canpark==1' :class='{btnClick: device_nav.gimbal_btn=="park"}' @click='gimbal_btn_command(4)' class='border1 btnCommand' type='button' value='复 位'>		
                   <input id='gimbalStop' v-if='configData.gimbal.canstop==1' :class='{btnClick: device_nav.gimbal_btn=="stop"}' @click='gimbal_btn_command(5)' class='border1 btnCommand' type='button' value='停 止'>	 
                   <input id='gimbalEmergenceStop' v-if='configData.gimbal.canemergencystop==1' :class='{btnClick: device_nav.gimbal_btn=="emergstop"}' @click='gimbal_btn_command(6)' class='border1 btnCommand' type='button' value='急 停'>
				</div><br>
				<hr style='width:98%;' class='center_mrg'><br>
				<form class='center' v-if='device_nav.gimbal_command == "trackStar"'><!--跟踪恒星-->
					赤经：<input type="text" class='hour' ref='trackstar_asc1' v-model.trim='gimbal_form.trackStar.rightAscension1' @blur='gimbal_track_star_Asc1(true)' @keyup='gimbal_Asc1_up'>:
					<input type="text" class='hour' ref='trackstar_asc2' v-model.trim='gimbal_form.trackStar.rightAscension2' @blur='gimbal_track_star_Asc2(true)' @keyup='gimbal_Asc2_up'>:
					<input type="text" class='sec' ref='trackstar_asc3' v-model.trim='gimbal_form.trackStar.rightAscension3' @blur='gimbal_track_star_Asc3(true)'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					赤纬：<input type="text" class='hour' ref='trackstar_dec1' v-model.trim='gimbal_form.trackStar.declination1' @blur='gimbal_track_star_Dec1(true)' @keyup='gimbal_dec1_up'>:
					<input type="text" class='hour' ref='trackstar_dec2' v-model.trim='gimbal_form.trackStar.declination2' @blur='gimbal_track_star_Dec2(true)' @keyup='gimbal_dec2_up'>:
					<input type="text" class='sec' ref='trackstar_dec3' v-model.trim='gimbal_form.trackStar.declination3' @blur='gimbal_track_star_Dec3(true)'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					历元：<select v-model="gimbal_form.trackStar.epoch">
						<option value="-1">请选择</option>
						<option value="0">real</option>
						<option value="1">J2000</option>
						<option value="2">B1950</option>
						<option value="3">J2050</option>
					</select>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					跟踪速度：
					<select v-model="gimbal_form.trackStar.speed">
						<option value="-1">请选择</option>
						<option value="0">恒星</option>
						<option value="1">太阳</option>
						<option value="2">月亮</option>
						<option value="3">彗星</option>
					</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<br><input type="button" class='margin_10' value="提交指令" @click='trackStar_sbmt' >
				</form>
				<form class='center' v-if='device_nav.gimbal_command == "setObjName"'><!--设置目标名称-->
					目标名称：<input type="text" ref='objName' v-model.trim='gimbal_form.objName.objectName' @blur='obj_name_check(true)' placeholder='48位不能有汉字及空格'>
					目标类型：<select style='width:6.6%;' v-model='gimbal_form.objName.objectType'>
								<option value="-1">请选择</option>
								<option value="0">恒星</option>
								<option value="1">太阳</option>
								<option value="2">月亮</option>
								<option value="3">彗星</option>
								<option value="4">行星</option>
								<option value="5">卫星</option>
								<option value="6">固定位置</option>
						</select>
					<br><input type="button" class='margin_10' value="提交目标名称" @click='obj_name_sbmt' >
			    </form><!--设置目标名称 结束-->
				<form class='center' v-if='device_nav.gimbal_command == "slewAzEl"'><!--指向固定位置-->
					方位：<input type="text" ref='azimuth' v-model.trim='gimbal_form.slewAzEl.azimuth' @blur='azimuth_check(true)' placeholder='0-360'>
            		俯仰：<input id='elevationV' type="text" ref='elevation' v-model.trim='gimbal_form.slewAzEl.elevation' @blur='elevation_check(true)' :placeholder='configData.gimbal.minelevation+"~360"'>
					<br><input type="button" class='margin_10' value="提交指令" @click='slewAzEl_sbmt' >
				</form><!--指向固定位置 结束-->
				<form class='center' v-if='device_nav.gimbal_command == "slewDerotator"'><!--轴3指向固定位置-->
					轴3指向固定位置：<input id='slewDerotatorV' type="text" ref='slewDerotator' v-model.trim='gimbal_form.slewDerotator.slewDerotator' @blur='slewDerotator_check(true)' placeholder='0~360'>
					<br><input type="button" class='margin_10' value="提交指令" @click='slewDerotator_sbmt' >
				</form><!--轴3指向固定位置 结束-->
				<form class='center' v-if='device_nav.gimbal_command == "axis3Mode"'><!--轴3工作模式-->
					模式：<select id='at60Axis3' name="mode" style='width:11%;' v-model='gimbal_form.axis3_mode.mode' >
					<option value="-1">请选择</option>
                    <option value="0">不消旋</option>
                    <option value="1">偏差消旋</option>
                    <option value="2">始终指向同一角度</option>
					</select>
					<span v-if='gimbal_form.axis3_mode.mode==2'>起偏角：<input  type="text" name='polarizingAngle' ref='polar_Angle' v-model.trim='gimbal_form.axis3_mode.polarizingAngle' placeholder='0~360' @blur='polar_Angle_check(true)' ></span>
					<br><input type="button" class='margin_10' value="提交指令" @click='axis3Mode_sbmt' >
				</form><!--轴3工作模式 结束-->
				<form class='center' v-if='device_nav.gimbal_command == "speed_alter"'><!--速度修正-->
					<table class='center center_mrg' id='speed_alter_tb'>
						<tr>
							<td><input type="button" value="西北" :class='{speed_click: device_nav.speed_alter_btn=="n_w"}' @click='speed_alter_sbmt("n_w")' ></td>
							<td><input type="button" value="北" :class='{speed_click: device_nav.speed_alter_btn=="n"}' @click='speed_alter_sbmt("n")' ></td>
							<td><input type="button" value="东北" :class='{speed_click: device_nav.speed_alter_btn=="n_e"}' @click='speed_alter_sbmt("n_e")' ></td>
						</tr>
						<tr>
							<td><input type="button" value="西" :class='{speed_click: device_nav.speed_alter_btn=="w"}' @click='speed_alter_sbmt("w")' ></td>
							<td>
								<select width='91%' v-model='gimbal_form.speed_alter.correction'>
									<option value="-1">选择速度</option>
									<option value="0.000013889">0.05角秒/s</option>
									<option value="0.000027778">0.1角秒/s</option>
									<option value="0.000138889">0.5角秒/s</option>
									<option value="0.000277778">1角秒/s</option>
									<option value="0.001388889">5角秒/s</option>
									<option value="0.002777778">10角秒/s</option>
									<option value="0.008333333">30角秒/s</option>
									<option value="0.016666667">1角分/s</option>
									<option value="0.083333333">5角分/s</option>
									<option value="0.166666667">10角分/s</option>
									<option value="0.5">30角分/s</option>
									<option value="1.0">1度/s</option>
								</select>
							</td>
							<td><input type="button" value="东" :class='{speed_click: device_nav.speed_alter_btn=="e"}' @click='speed_alter_sbmt("e")' ></td>
						</tr>
						<tr>
							<td><input type="button" value="西南" :class='{speed_click: device_nav.speed_alter_btn=="s_w"}' @click='speed_alter_sbmt("s_w")' ></td>
							<td><input type="button" value="南" :class='{speed_click: device_nav.speed_alter_btn=="s"}' @click='speed_alter_sbmt("s")' ></td>
							<td><input type="button" value="东南" :class='{speed_click: device_nav.speed_alter_btn=="s_e"}' @click='speed_alter_sbmt("s_e")' ></td>
						</tr>
					</table>
			    </form><!--速度修正 结束-->
				<form class='center' v-if='device_nav.gimbal_command == "speed_fixed"'><!--恒速运动-->
					轴：<select style='width:6%;' v-model='gimbal_form.speed_fixed.axis'>
					<option value="1">轴1</option>
					<option value="2">轴2</option>
					<option value="3" v-if='configData.gimbal.haveaxis3==1' >轴3</option>
					</select>
					速度：<input type="text" ref='speed_fixed' v-model.trim='gimbal_form.speed_fixed.speed' :placeholder="'<='+configData.gimbal['maxaxis'+gimbal_form.speed_fixed.axis+'speed']" @blur='speed_fixed_check(true)' >
					<br><input type="button" class='margin_10' value="提交指令" @click='speed_fixed_sbmt' >
				</form><!--恒速运动 结束-->
				<form class='center' v-if='device_nav.gimbal_command == "position_alter"'><!--位置修正-->
					<table class='center center_mrg' id='speed_alter_tb'>
						<tr>
							<td><input type="button" value="西北" :class='{speed_click: device_nav.pos_alter_btn=="n_w"}' @click='position_alter_sbmt("n_w")' ></td>
							<td><input type="button" value="北" :class='{speed_click: device_nav.pos_alter_btn=="n"}' @click='position_alter_sbmt("n")' ></td>
							<td><input type="button" value="东北" :class='{speed_click: device_nav.pos_alter_btn=="n_e"}' @click='position_alter_sbmt("n_e")' ></td>
						</tr>
						<tr>
							<td><input type="button" value="西" :class='{speed_click: device_nav.pos_alter_btn=="w"}' @click='position_alter_sbmt("w")' ></td>
							<td>
								<select width='91%' v-model='gimbal_form.position_alter.correction'>
									<option value="-1">选择偏移量</option>
									<option value="0.000013889">0.05角秒</option>
									<option value="0.000027778">0.1角秒</option>
									<option value="0.000138889">0.5角秒</option>
									<option value="0.000277778">1角秒</option>
									<option value="0.001388889">5角秒</option>
									<option value="0.002777778">10角秒</option>
									<option value="0.008333333">30角秒</option>
									<option value="0.016666667">1角分</option>
									<option value="0.083333333">5角分</option>
									<option value="0.166666667">10角分</option>
									<option value="0.5">30角分</option>
									<option value="1.0">1度</option>
								</select>
							</td>
							<td><input type="button" value="东" :class='{speed_click: device_nav.pos_alter_btn=="e"}' @click='position_alter_sbmt("e")' ></td>
						</tr>
						<tr>
							<td><input type="button" value="西南" :class='{speed_click: device_nav.pos_alter_btn=="s_w"}' @click='position_alter_sbmt("s_w")' ></td>
							<td><input type="button" value="南" :class='{speed_click: device_nav.pos_alter_btn=="s"}' @click='position_alter_sbmt("s")' ></td>
							<td><input type="button" value="东南" :class='{speed_click: device_nav.pos_alter_btn=="s_e"}' @click='position_alter_sbmt("s_e")' ></td>
						</tr>
					</table>
				</form><!--位置修正 结束-->
				<form class='center' v-if='device_nav.gimbal_command == "cover_op"'><!--镜盖操作-->
					<input type='button' value="打 开" :class='{speed_click: device_nav.cover_btn=="open"}' @click='cover_sbmt("open")' >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type='button' value="关 闭" :class='{speed_click: device_nav.cover_btn=="close"}' @click='cover_sbmt("close")' >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type='button' value="停 止" :class='{speed_click: device_nav.cover_btn=="stop"}' @click='cover_sbmt("stop")' ><br><br>
				</form><!--镜盖操作 结束-->
				<form class='center' v-if='device_nav.gimbal_command == "setFocusType"'><!--焦点切换镜-->
					焦点切换镜：<select name="setFocusType" style='width:6%;' v-model='gimbal_form.setFocusType.focusType' >
						<option value="-2">请选择</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="-1">停</option>
					</select>
					<br><input type="button" class='margin_10' value="提交指令" @click='setFocusType_sbmt' >
				</form><!--焦点切换镜 结束-->
				<form class='center' v-if='device_nav.gimbal_command == "saveSyncData"'><!--保存同步数据-->
					<input type="button" value="是" style="width:5%;" :class='{speed_click: device_nav.save_data_btn=="1"}' @click='save_data_sbmt(1)' >
					<br><br>
				</form><!--保存同步数据 结束-->
			  <hr style='width:98%;' class='center_mrg'><br>
			  <div><!--转台可变属性-->
                <span class='propT'>转台可变属性:</span><br><br>
                <ul class='properUl'>
                    <li class='li fl'>时间戳:<span id='stamp'></span></li>
                    <li class='li fl'>当前恒星时:<span id='siderealTime_1'></span></li>
                    <li class='li fl'>当前时角:<span id='hourAngle_1'></span></li>
                    <li class='li fl'>当前赤经:<span id='rightAscension_1'></span></li>
                    <li class='li fl'>当前赤纬:<span id='declination_1'></span></li>
                    <li class='li fl'>当前J2000赤经:<span id='J2000RightAscension'></span></li>
                    <li class='li fl'>当前J2000赤纬:<span id='J2000Declination'></span> </li>
                    <li class='li fl'>当前方位:<span id='azmiuth_1'></span></li>
                    <li class='li fl'>当前俯仰:<span id='elevation_1'></span></li>
                    <!-- <li class='li fl'>当前消旋位置:<span id='derotatorPositon_1'></span></li> -->
                    <li class='li fl'>目标赤经:<span id='targetRightAscension_1'></span></li>
                    <li class='li fl'>目标赤纬:<span id='targetDeclination_1'></span></li>
                    <li class='li fl'>目标J2000赤经:<span id='targetJ2000RightAscension'></span></li>
                    <li class='li fl'> 目标J2000赤纬:<span id='targetJ2000Declination'></span></li>
                    <!-- <li class='li fl'>目标消旋位置:<span id='targetDerotatorPosition_1'></span></li> -->
                </ul><div class='clear'></div>
             </div><!--转台 可变属性结束-->
		  </div><!--指令和可变属性 结束-->
		 <div class='border2'><!--转台固定属性-->
			<br><span class='propT'>转台固定属性:</span><br><br>
                <ul class='properUl'>
                    <li class='li fl'>经度:<span>{{configData.gimbal.longitude}}</span></li>
                    <li class='li fl'>纬度:<span>{{configData.gimbal.latitude}}</span></li>
                    <li class='li fl'>口径:<span>{{configData.gimbal.aperture}}</span> </li>
                    <li class='li fl'>类型:<span>{{configData.gimbal.type}}</span></li>
                    <li class='li fl'>焦点类型:<span>{{configData.gimbal.focustype}}</span></li>
                    <li class='li fl'>焦比:<span>{{configData.gimbal.focusratio}}</span></li>
                    <li class='li fl'>焦距:<span>{{configData.gimbal.focuslength}}</span></li>
                    <li class='li fl'>轴1最大速度:<span>{{configData.gimbal.maxaxis1speed}}</span></li>
                    <li class='li fl'> 轴2最大速度:<span>{{configData.gimbal.maxaxis2speed}}</span></li>
                    <li class='li fl'> 轴3最大速度:<span>{{configData.gimbal.maxaxis3speed}}</span></li>
					<li class='li fl'>轴1最大加速度:<span>{{configData.gimbal.maxaxis1acceleration}}</span></li>
                    <li class='li fl'> 轴2最大加速度:<span>{{configData.gimbal.maxaxis2acceleration}}</span></li>
                    <li class='li fl'> 轴3最大加速度:<span>{{configData.gimbal.maxaxis3acceleration}}</span></li>
                    <li class='li fl'> 轴1复位位置:<span>{{configData.gimbal.axis1parkposition}}</span></li>
                    <li class='li fl'> 轴2复位位置:<span>{{configData.gimbal.axis2parkposition}}</span></li>
                    <li class='li fl'> 轴3复位位置:<span>{{configData.gimbal.axis3parkposition}}</span></li>
                    <li class='li fl'> 是否有第3轴:	<span>{{configData.gimbal.haveaxis3 ? '有' : '无'}}</span></li>
                    <li class='li fl'> 是否有镜盖:<span>{{configData.gimbal.haveaxis5 ? '有' : '无'}}</span></li>
                    <li class='li fl'> 支持恒速运动:<span>{{configData.gimbal.canfixedmove ? '是' : '否'}}</span></li>
                </ul><div class='clear'></div>
		 </div><!--固定属性 结束-->
	  </div><!--转台 结束-->
	   
	   <div id='ccdInfo' v-if='device_nav.dev_click=="ccd"'><!--ccd 指令和属性-->	   
			<nav class='center'><!--ccd指令 导航-->
			    <span name='coolTemp' :class='{active: device_nav.ccd_command=="coolTemp"}' @click ='device_nav.ccd_command="coolTemp"' v-if='ccd_config.cansetcoolert==1' >制冷温度</span>
				<span name='exposStratic' :class='{active: device_nav.ccd_command=="exposeParam"}' @click ='device_nav.ccd_command="exposeParam"' v-if='ccd_config.cansetexposureparam==1' >曝光策略</span>
				<span name='startExp' :class='{active: device_nav.ccd_command=="start_expose"}' @click ='device_nav.ccd_command="start_expose"' v-if='ccd_config.canstartexposure==1' >开始曝光</span>			
				<span name='setGear'>设置增益</span>			
				<span name='readOut'>读出速度模式</span>			
				<span name='transSpeed'>转移速度模式</span>			
				<span name='setBin'>设置Bin</span>	
				<span name='setRoi'>设置Roi</span>
				<span name='setShutter'>设置快门</span>			
				<span name='setFrame'>设置帧转移</span>				
				<span name='setEm'>设置EM</span>				
				<span name='setCmos'>CMOS noise</span>				
				<span name='setBase'>Base line</span>				
				<span name='setOverScan'>Over Scan</span>
			</nav>
			<div class='border2'><!--ccd 指令和可变属性-->
				<div id='btnsCCD' class='center_mrg center BtnsDiv'>
					<input id='ccdConnect' v-if='ccd_config.canconnect==1' :class='{btnClick: device_nav.ccd_btn=="connect"}' class='border1 btnCommand' type='button' value='连接CCD' @click='ccd_btn_command(1)' >
					<input id='ccdDisConnect' v-if='ccd_config.canconnect==1' :class='{btnClick: device_nav.ccd_btn=="disConnect"}' class='border1 btnCommand' type='button' value='断开CCD' @click='ccd_btn_command(2)' >					
					<input id='ccdStopExpose' v-if='ccd_config.canstopexposure==1' :class='{btnClick: device_nav.ccd_btn=="stop_expose"}' class='border1 btnCommand' type='button' value='停止曝光' @click='ccd_btn_command(3)' >					
					<input id='ccdAbortExpose' v-if='ccd_config.canabortexposure==1' :class='{btnClick: device_nav.ccd_btn=="abort_expose"}' class='border1 btnCommand' type='button' value='终止曝光' @click='ccd_btn_command(4)' >
				</div><br>
				<hr style='width:98%;' class='center_mrg'><br>
				<form class='center' v-if='device_nav.ccd_command == "coolTemp"' ><!--设置制冷温度-->
					<input id='ccdTemperature' type="text" ref='ccd_cool' :placeholder='ccd_config.lowcoolert +"~20"' v-model.trim='ccd_form.coolTemp.temp' @blur='ccd_cool(true)' >
					<br><input type="button" class='margin_10' value="提交指令" @click='ccd_cool_sbmt' >
				</form><!--设置制冷温度 结束-->
				<form id='exposStratic' class='center' v-if='device_nav.ccd_command == "exposeParam"' ><!--曝光策略-->
					<span>数据有效标志位：<input type="text" ref='validFlag' v-model.trim='ccd_form.exposeParam.validFlag' placeholder='整数' @blur='ccd_validFlag(true)' ></span>
					<span>起始时刻：<input type="text" ref='startTime' :placeholder='">"+new Date().getTime()' v-model.trim='ccd_form.exposeParam.startTime' @blur='ccd_startTime(true)' ></span>
					<span>曝光时间：<input id='durationInput' type="text" ref='duration' :placeholder='ccd_config.minexposuretime + "~" + ccd_config.maxexposuretime' v-model.trim='ccd_form.exposeParam.duration' @blur='ccd_duration(true)' ></span>
					<span>延迟时间：<input id='delayInput' type="text" ref='delay' placeholder='数字' v-model.trim='ccd_form.exposeParam.delay' @blur='ccd_delay(true)' ></span>
					<span>拍摄目标名称：<input id='ccdObjectName' type="text" ref='ccd_objName' placeholder='48位字符' v-model.trim='ccd_form.exposeParam.objName' @blur='ccd_objName(true)' ></span>
					<span>拍摄目标类型：<select ref="ccd_objType" style='width:75px;' v-model='ccd_form.exposeParam.objType'>
										<option value="-1">请选择</option>
										<option value="0">恒星</option>
										<option value="1">太阳</option>
										<option value="2">月亮</option>
										<option value="3">彗星</option>
										<option value="4">行星</option>
										<option value="5">卫星</option>
										<option value="6">固定位置</option>
										<option value="7">本底</option>
										<option value="8">暗流</option>
										<option value="9">平场</option>
									</select></span>
					<span>目标赤经：<input id='inputIn3' class='hour1' type="text" ref='ccd_objAsc1' v-model.trim='ccd_form.exposeParam.objectRightAscension1' @blur='ccd_asc1(true)' @keyup='ccd_asc1_up()'>:
					<input id='inputIn3_1' class='hour1' type="text" ref='ccd_objAsc2' v-model.trim='ccd_form.exposeParam.objectRightAscension2' @blur='ccd_asc2(true)' @keyup='ccd_asc2_up()'>:
					<input id='inputIn3_2' class='sec1' type="text" ref='ccd_objAsc3' v-model.trim='ccd_form.exposeParam.objectRightAscension3' @blur='ccd_asc3(true)' >
					</span>
					<span>目标赤纬：<input id='inputIn4' class='hour1' type="text" ref='ccd_objDec1' v-model.trim='ccd_form.exposeParam.objectDeclination1' @blur='ccd_dec1(true)' @keyup='ccd_dec1_up()'>:
					<input id='inputIn4_1' class='hour1' type="text" ref='ccd_objDec2' v-model.trim='ccd_form.exposeParam.objectDeclination2' @blur='ccd_dec2(true)' @keyup='ccd_dec2_up()'>:
					<input id='inputIn4_2' class='sec1' type="text" ref='ccd_objDec3' v-model.trim='ccd_form.exposeParam.objectDeclination3' @blur='ccd_dec3(true)' >
					</span>
					<span>拍摄目标历元：<select style='width:69px;' v-model.trim='ccd_form.exposeParam.objectEpoch' >
									<option value="-1">请选择</option>
									<option value="0">real</option>
									<option value="1">J2000</option>
									<option value="2">B1950</option>
									<option value="3">J2050</option>
								</select></span>
					<span>当前拍摄波段：<input id='objectBandInput' type="text" name='objectBand' placeholder='8位字符' v-model.trim='ccd_form.exposeParam.objectBand' ></span>
					<span>拍摄波段滤光片系统：<select style='width:110px;' v-model='ccd_form.exposeParam.objectFilter' >
									<option value="-1">请选择</option>
									<option value="0">Johnshon-Bessel</option>
									<option value="1">Sloan</option>
									<option value="2">Strömgrem</option>
									<option value="3">其它</option>
								</select></span>
					<span>是否保存图像：<select style='width:69px;' v-model='ccd_form.exposeParam.isSaveImage' >
									<option value="-1">请选择</option>
									<option value="1">是</option>
									<option value="2">否</option>
								</select></span>
					<span>气象数据采集时间：<input type="text" v-model.trim='ccd_form.exposeParam.weatherGatherTime' readonly='readonly' placeholder='整数'></span>
					<span>温度：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.temperature1' readonly='readonly' ></span>
					<span>湿度：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.humidity' readonly='readonly'></span>
					<span>风速：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.windSpeed' readonly='readonly' ></span>
					<span>气压：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.pressure' readonly='readonly'></span>
					<span>天气状态采集时间：<input type="text" placeholder='整数' v-model.trim='ccd_form.exposeParam.skyGatherTime' readonly='readonly'></span>
					<span>天气状态：<input type="text" placeholder='整数' v-model.trim='ccd_form.exposeParam.skyState' readonly='readonly'></span>
					<span>云量：<input type="text" placeholder='整数' v-model.trim='ccd_form.exposeParam.clouds' readonly='readonly'></span>
					<span>视宁度采集时间：<input type="text" placeholder='整数' v-model.trim='ccd_form.exposeParam.seeingGatherTime' readonly='readonly'></span>
					<span>视宁度：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.seeing' readonly='readonly'></span>
					<span>粉尘采集时间：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.dustGatherTime' readonly='readonly'></span>
					<span>粉尘：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.dust' readonly='readonly'></span>
					<span>AMS：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.AMS' readonly='readonly'></span>
					<span>消光系数采集时间：<input type="text" placeholder='整数' v-model.trim='ccd_form.exposeParam.extinctionGatherTime' readonly='readonly'></span>
					<span>赤经：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.rightAscension' readonly='readonly'></span>
					<span>赤纬：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.declination' readonly='readonly'></span>
					<span>波段：<input type="text" placeholder='字母数字' v-model.trim='ccd_form.exposeParam.band' readonly='readonly'></span>
					<span>消光系数1：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.extinctionFactor1' readonly='readonly'></span>
					<span>消光系数2：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.extinctionFactor2' readonly='readonly'></span>
					<span>消光系数3：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.extinctionFactor3' readonly='readonly'></span>
					<span>望远镜赤经：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.telescopeRightAscension' readonly='readonly'></span>
					<span>望远镜赤纬：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.telescopeDeclination' readonly='readonly'></span>
					<span>焦距：<input type="text" placeholder='小数' v-model.trim='ccd_form.exposeParam.focusLength' ></span>
					<span>帧数：<input type="text" name='frameNum' placeholder='整数' v-model.trim='ccd_form.exposeParam.frameNum' ></span>
					<br><input type="button" class='margin_10' value="提交指令" @click='ccd_exposeParam_sbmt' >
				</form><!--曝光策略 结束-->
				<form class='center' v-if='device_nav.ccd_command == "start_expose"'><!--开始曝光-->
					是否读取帧序号：<label>是
						<input type="radio" value="1" v-model='ccd_form.start_expose.isReadFrameSeq' >
						</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<label>否
						<input type="radio" value="0" v-model='ccd_form.start_expose.isReadFrameSeq' >
					</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					帧序号：<input type="text">
					<br><input type="button" class='margin_10' value="提交指令" @click='ccd_startExpose_sbmt' >
				</form><!--开始曝光 结束-->
			  <hr style='width:98%;' class='center_mrg'><br>
			  <div><!--CCD可变属性-->
                <span class='propT'>CCD可变属性:</span><br><br>
				 <ul class='properUl'>
                    <li class='li fl'>当前状态:<span id='ccdStatus_1'></span></li>
                    <li class='li fl'>Base line值:<span id='baseLine'></span></li>
                    <li class='li fl'>读出模式:<span id='readMode'></span></li>
                    <li class='li fl'>当前拍摄波段:<span id='ObserveBand'></span></li>
                    <li class='li fl'>拍摄目标赤经:<span id='TargetRightAscension'></span></li>
                    <li class='li fl'>拍摄目标赤纬:<span id='TargetDeclination'></span></li>
                </ul>
               <div class='clear'></div>
             </div><!--CCD 可变属性结束-->
		  </div><!--CCD 指令和可变属性 结束-->
		 <div class='border2'><!--ccd 固定属性-->
			<br><span class='propT'>CCD固定属性:</span><br><br>
			<ul class='properUl'>
				<li class='li fl'>探测器类型:<span>{{ccd_config.type}}</span></li>
				<li class='li fl'>传感器名称:<span>{{ccd_config.sensorname}}</span></li>
				<li class='li fl'>图像位数:<span>{{ccd_config.imagebits}}</span></li>
				<li class='li fl'>制冷方式:<span>{{ccd_config.coolermode}}</span></li>
				<li class='li fl'>最低制冷温度:<span>{{ccd_config.lowcoolert}}</span></li>
				<li class='li fl'>最大曝光时间:<span>{{ccd_config.maxexposuretime}}</span></li>
				<li class='li fl'>最小曝光时间:<span>{{ccd_config.minexposuretime}}</span></li>
				<li class='li fl'>快门类型:<span>{{ccd_config.shuttertype}}</span></li>
				<li class='li fl' style='width:578px;'>快门模式:<span>{{ccd_config.shuttermode}}</span></li>
				<li class='li fl' style='width:578px;'>读出模式:<span>{{ccd_config.readoutmode}}</span></li>
				<li class='li fl' style='width:578px;'>增益模式:<span>{{ccd_config.gainmode}}</span></li>
				<li class='li fl' style='width:578px;'>接口类型:<span>{{ccd_config.interfacetype}}</span></li>
				<li class='li fl' style='width:578px;'>曝光触发模式:<span>{{ccd_config.exposetriggermode}}</span></li>
             </ul>
           <div class='clear'></div>
		 </div><!--ccd固定属性 结束-->
	   </div><!--ccd 结束-->
	   
	   <div id='focusInfo' class='displayNo'><!--调焦器指令和属性 -->
			<nav class='center'><!--调焦器指令 导航-->
			
			    <span name='targetPos'>设置目标位置</span>&nbsp;&nbsp;&nbsp;&nbsp;
		
				<span name='fixedSpeed'>设置恒速转动</span>&nbsp;&nbsp;&nbsp;&nbsp;
			
				<span name='temperaEnable'>使能温度补偿</span>&nbsp;&nbsp;&nbsp;&nbsp;
		
				<span name='temperaCoeficnt'>温度补偿系数</span>
			</nav>
			<div class='border2'><!--调焦器 指令和可变属性-->
				<div id='btnsFocus' class='center_mrg center BtnsDiv'>
					&nbsp;&nbsp;&nbsp;&nbsp;
			
					<input id='focusConnect' class='border1 btnCommand' type='button' value='连接调焦器'>
					<input id='focusDisConnect' class='border1 btnCommand' type='button' value='断开调焦器'>
	
					<input id='focusFindHome' class='border1 btnCommand' type='button' value='找 零'>

					<input id='focusStop' class='border1 btnCommand' type='button' value='停止运动'>
				</div><br>
				<hr style='width:98%;' class='center_mrg'><br>
				<form id='at60Focus' class='center command'>
					<div id='targetPos'>
					   <input type='radio' name='command' value='1'>目标位置：
					   <input type="text" id='setPositionIn' name='setPosition' placeholder='数字' class='blur'>
					</div>
					<div id='fixedSpeed'>
					   <input type='radio' name='command' value='2'>设置恒速转动：
					  <input type="text" id='speedIn' name='speed' placeholder='数字' class='blur'>
					</div>
					<div id='temperaEnable'>
					   <input type='radio' name='command' value='3'>使能温度补偿：
					   <!-- <select name="enable" style='width:66px;'>
						           <option value="0">否</option>
								   <option value="1">是</option>
							</select> -->
							<label for='enable1'>是</label>
							<input id='enable1' type="radio" name='enable' value="1" style='display:inline;'>
							&nbsp;&nbsp;&nbsp;&nbsp;<label for='enable2'>否</label>
							<input id='enable2' type="radio" name='enable' value="0" style='display:inline;'>
					</div>
					<div id='temperaCoeficnt'>
					   <input type='radio' name='command' value='4'>温度补偿系数：
					   <input type="text" id='coefficientIn' name='coefficient' class='blur'>
					</div>
					<br><input id='focusSbmt' class='border submitBtn' type="button" value="确认提交指令">
				</form>
				<br><hr style='width:98%;' class='center_mrg'><br>
			<div><!--调焦器 可变属性-->
                <span class='propT'>调焦器可变属性:</span><br><br>
				 <ul class='properUl'>
                   <li class='li fl'>当前位置:&nbsp;&nbsp;<span id='curPos'></span></li>
                   <li class='li fl'>目标位置:&nbsp;&nbsp;<span id='targetPosition'></span></li>
                   <li class='li fl'>找零状态:&nbsp;&nbsp;<span id='focusIsHomed'></span></li>
                   <li class='li fl'>是否进行温度补偿:&nbsp;&nbsp;<span id='compens'></span></li>
                   <li class='li fl'>温度补偿系数:&nbsp;&nbsp;<span id='compensX'></span></li>
                </ul>
               <div class='clear'></div>
             </div><!--调焦器 可变属性结束-->
		 </div><!--调焦器 指令和可变属性 结束-->
		 <div class='border2'><!--调焦器 固定属性-->
			<br><span class='propT'>调焦器固定属性:</span><br><br>
			<ul class='properUl'>
			   <li class='li fl'>最大速度:&nbsp;&nbsp;<span>
		</span></li>
			   <li class='li fl'>分辨率:&nbsp;&nbsp;<span>
			  </span></li>        
			   <li class='li fl'>最大值:&nbsp;&nbsp;<span>
			  </span></li>
			   <li class='li fl'>最小值:&nbsp;&nbsp;<span>
			</span></li>
			   <li class='li fl'>可否找零:&nbsp;&nbsp;<span>
		
				是
				
			   </span></li>    
			   <li class='li fl'>可否温度补偿:&nbsp;&nbsp;<span>
				是
				
			   </span></li>
             </ul>
           <div class='clear'></div>
		 </div><!--调焦器 固定属性 结束-->
	   </div><!--调焦器 结束-->
	   <div id='domeInfo' class='displayNo'><!--随动圆顶指令和属性-->
			<nav class='center'><!--随动圆顶指令 导航-->
			
			    <span name='setPos'>设置目标方位</span>&nbsp;&nbsp;&nbsp;&nbsp;
			
				<span name='rotateSpd'>设置转动速度</span>&nbsp;&nbsp;&nbsp;&nbsp;
			
				<span name='shadePos'>设置风帘位置</span>&nbsp;&nbsp;&nbsp;&nbsp;
			
				<span name='shadeAct'>控制风帘运动</span>
			</nav>
			<div class='border2'><!--随动圆顶 指令和可变属性-->
				<div id='btnsSlaveD' class='center_mrg center BtnsDiv'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				   <input id='sDomeConnect' class='border1 btnCommand' type='button' value='连接圆顶'>
				   <input id='sDomeDisConnect' class='border1 btnCommand' type='button' value='断开圆顶'>
				
				   <input id='sDomeStop' class='border1 btnCommand' type='button' value='停止运动'>
				
				   <input id='sDomeScuttle' class='border1 btnCommand' type='button' value='打开天窗'>
				   <input id='sDomeScuttleClose' class='border1 btnCommand' type='button' value='关闭天窗'>
				</div><br>
				<hr style='width:98%;' class='center_mrg'><br>
				<form id='at60Dome' class='center command'>
					<div id='setPos'>
					   <input type='radio' name='command' value='1'>设置目标方位:
					   <input type="text" id='domePositionIn' name='domePosition' placeholder='0-360' class='blur'>
					</div>
					<div id='rotateSpd'>
					    <input type='radio' name='command' value='2'>设置转动速度：
						<input type="text" id='RotateSpeedIn' name='RotateSpeed' placeholder='数字' class='blur'>
					</div>
					<div id='shadePos'>
					   <input type='radio' name='command' value='3'>设置风帘位置：
					   <input type="text" id='shadePositionIn' name='shadePosition' placeholder='0-90' class='blur'>
					</div>
					<div id='shadeAct'>
					   <input type='radio' name='command' value='4'>控制风帘运动：
					   <select name="shadeAction" style='width:90px;'>
						   <option value="1">向上</option>
						   <option value="2">向下</option>
						   <option value="3">停止</option>
						 </select>
					  </div>
					<br><input id='domeSbmt' class='border submitBtn' type="button" value="确认提交指令">
				</form>
				<br><hr style='width:98%;' class='center_mrg'><br>
			<div><!--随动圆顶 可变属性-->
                <span class='propT'>随动圆顶可变属性:</span><br><br>
				 <ul class='properUl'>
                    <li class='li fl'>当前状态:&nbsp;&nbsp;<span id='domeStatus_1'></span></li>
				   <li class='li fl'>天窗状态:&nbsp;&nbsp;<span id='scuttle'></span></li>
                   <li class='li fl'>风帘状态:&nbsp;&nbsp;<span id='shadeStatus'></span></li>
                   <li class='li fl'>错误标识:&nbsp;&nbsp;<span id='errorStr'></span></li>
                </ul>
               <div class='clear'></div>
             </div><!--随动圆顶 可变属性结束-->
		 </div><!--随动圆顶 指令和可变属性 结束-->
		<div class='border2'><!--随动圆顶 固定属性-->
			<br><span class='propT'>随动圆顶固定属性:</span><br><br>
			<ul class='properUl'>
			   <li class='li fl'>类型:&nbsp;&nbsp;<span></span></li>
			   <li class='li fl'>最大转动速度:&nbsp;&nbsp;<span></span></li>
               <li class='li fl'>具备风帘:&nbsp;&nbsp;<span>
				是
		
			   </span></li>
               <li class='li fl'>控制风帘运动:&nbsp;&nbsp;<span>
				否
	
			   </span></li>
               <li class='li fl'>可否连接:&nbsp;&nbsp;<span>
				否
	
			   </span></li>
             </ul>
           <div class='clear'></div>
		 </div><!--随动圆顶 固定属性 结束-->
	   </div><!--随动圆顶 结束-->

	   <div id='oDomeInfo' class='displayNo'><!--全开圆顶指令和属性-->

			<div class='border2'><!--全开圆顶 指令和可变属性-->
				<div id='oDome_command' class='center_mrg center BtnsDiv'>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				   <input id='oDomeConnect' class='border1 btnCommand' type='button' value='连接圆顶'>
				   <input id='oDomeDisConnect' class='border1 btnCommand' type='button' value='断开圆顶'>
				
				   <input id='oDomeOpen' class='border1 btnCommand' type='button' value='打开'>
				   <input id='oDomeClose' class='border1 btnCommand' type='button' value='关闭'>
				   <input id='oDomeStop' class='border1 btnCommand' type='button' value='停止运动'>
				</div><br>
				<hr style='width:98%;' class='center_mrg'><br>
			<div><!--全开圆顶 可变属性-->
                <span class='propT'>全开圆顶可变属性:</span><br><br>
				 <ul class='properUl'>
                    <li class='li fl'>圆顶打开百分比:&nbsp;&nbsp;<span id='oDomeCurPos'></span></li>
				   <li class='li fl'>当前状态:&nbsp;&nbsp;<span id='oDomeCurStatus'></span></li>
                   <li class='li fl'>错误标识:&nbsp;&nbsp;<span id='oDomeErrStatus'></span></li>
                   <li class='li fl'>错误状态:&nbsp;&nbsp;<span id='oDomeErrType'></span></li>
                </ul>
               <div class='clear'></div>
             </div><!--全开圆顶 可变属性结束-->
		 </div><!--全开圆顶 指令和可变属性 结束-->
		<div class='border2'><!--全开圆顶 固定属性-->
			<br><span class='propT'>全开圆顶固定属性:</span><br><br>
			<ul class='properUl'>
			   <li class='li fl'>类型:&nbsp;&nbsp;<span id='oDomeType'></span></li>
			   <li class='li fl'>支持打开圆顶:&nbsp;&nbsp;<span id='oDomeCanOpen'>
				否
	
				</span></li>
               <li class='li fl'>支持连接:&nbsp;&nbsp;<span id='oDomeCanConnect'>
				否
		
			   </span></li>
             </ul>
           <div class='clear'></div>
		 </div><!--全开圆顶 固定属性 结束-->
	   </div><!--全开圆顶 结束-->


	   <div id='filterInfo' class='displayNo'><!--滤光片指令和属性-->
			<div class='border2'><!--滤光片 指令和可变属性-->
				<div id='btnsFilter' class='center_mrg center BtnsDiv' style='width:850px;'>
				
					<input id='filterConnect' class='border1 btnCommand' type='button' value='连接滤光片'>&nbsp;&nbsp;&nbsp;&nbsp;
					<input id='filterDisConnect' class='border1 btnCommand' type='button' value='断开滤光片'>&nbsp;&nbsp;&nbsp;&nbsp;
				
					<input id='filterFindHome' class='border1 btnCommand' type='button' value='找 零'>&nbsp;&nbsp;&nbsp;&nbsp;

					滤光片位置：<select id='filterPosi' class='border1 btnCommand' name="filterPos" style='width:90px;color:#000;border:1px solid #7a7a7a;'>
							    <option value="">请选择</option>
							    <option value="0">0</option>
							    <option value="1">1</option>
							    <option value="2">2</option>
								<option value="3">3</option>
			
						 </select>&nbsp;&nbsp;
					<input id='filterPosBtn' class='border submitBtn' type='button' value='提交滤光片位置'>
				</div><br>
			<hr style='width:98%;' class='center_mrg'><br>
			<div><!--滤光片 可变属性-->
                <span class='propT'>滤光片可变属性:</span><br><br>
				 <ul class='properUl'>
                   <li class='li fl'>是否找零:&nbsp;&nbsp;<span id='filterIsHomed'></span></li>
                   <li class='li fl'>当前状态:&nbsp;&nbsp;<span id='filterStatus_1'></span></li>
                   <li class='li fl'>错误标识:&nbsp;&nbsp;<span id='filterErrStr'></span></li>
                </ul>
               <div class='clear'></div>
             </div><!--滤光片 可变属性结束-->
		 </div><!--滤光片 指令和可变属性 结束-->
		<div class='border2'><!--滤光片 固定属性-->
			<br><span class='propT'>滤光片固定属性:</span><br><br>
			<ul class='properUl'>
			    <li class='li fl'>插槽数目:&nbsp;&nbsp;<span></span></li>
			   <li class='li fl'>滤光片类型:&nbsp;&nbsp;<span>
				Johnshon-Bessel  
			   </span></li>
			   <li class='li fl'>可否设置滤光片位置:&nbsp;&nbsp;<span>
				否
		
			   </span></li>
			   <li class='li fl' style='width:1180px;'>滤光片焦距偏差值:&nbsp;&nbsp;<span></span></li>
             </ul>
           <div class='clear'></div>
		 </div><!--滤光片 固定属性 结束-->
	   </div><!--滤光片 结束-->	
		<br>
		<div id='at60Res' class='center_mrg' style='width:92%;' v-if='device_nav.dev_click=="pic"'><!--观测图像 开始-->
			<div id='bigPic' class='pos_r'>
				<img src='/static/images-1/pic_Res.jpg' style='width:100%;'>
				<button class='pos_a'>最新图像</button>
			</div>
			<div id='smallPic' class='pos_r'>
				<img id='pre' src='/static/images-1/left.jpg'>
				<img class='mrgR' src='/static/images-1/picSmall.jpg'>
				<img class='mrgR' src='/static/images-1/picSmall.jpg'>
				<img class='mrgR' src='/static/images-1/picSmall.jpg'>
				<img class='mrgR' src='/static/images-1/picSmall.jpg'>
				<img id='next' class='pos_a' src='/static/images-1/right.jpg'>
			</div>
		</div><!--观测图像 结束-->	
	</div><!-- id='all' 结束 --><br>
	
	<div id='planInfo' class='displayNo pos_r'><!--观测计划表格 开始-->
			 <table id="dg" title="计划表格" style='text-align: center;'> 
			 </table>
			<div id="toolbar">
			<a class="easyui-linkbutton" iconCls="icon-more" plain="true" onclick="importPlan()">导入计划</a>
			<a class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addPlan()">添加计划</a>
			<a class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="savePlan()">保存</a>
			<a class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="submitPlan()">提交计划</a>
			<a class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="plan_executing()">正执行的计划列表</a>
           </div>
		   <!--观测计划的模式按钮-->
		   <div id='planModes' class='pos_a'>
			  执行模式:<select id='modeSpan'>
			    <option value='1'>single</option>
			    <option value='2'>single-loop</option>
			    <option value='3'>sequence</option>
			    <option value='4'>sequence-loop</option>
			  </select>
				<div id='planExe' class='pos_a'>
					<button id='planStart'>开始</button>
					<button id='planStop'>停止</button>
				</div>
		   </div>
		   <!--观测计划的模式按钮 结束-->
		   <form id='imptPlan' style='display:none;' enctype='multipart/form-data'>
				<input type='file' name='plan'>
		   </form><!--计划文件上传表单-->
	</div><!--观测计划表格 结束-->
	{load href='/static/js/plan_datagrid-m.js'}
	<footer class='center clear'>
		<span>中科院国家天文台兴隆观测基地</span>
	</footer>
</body>
</html>