<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>配置望远镜</title>
     {load href='/static/css/common-1.css'}
     {load href='/static/css/atconfig.css'}
     {load href='/static/plugin/easyui-1.3.5/jquery.min.js'}
	 {load href='/static/plugin/layer/layer.js'}
     {load href='/static/js/atconfig.js'}
</head>
<body>
	{include file="common/common"/}
    <div id='all'>
		<div id='otherConf' class='center'>
			<span>
				请先配置:焦点类型、图像位数、读出模式、读出速度模式、增益挡位、快门类型、快门模式、ccd制冷方式、ccd接口类型等固定属性的可选项！
			</span><br>
			<a href='{:url("/conf_option")}' target="_blank">去配置上述固定属性</a>
		</div><br>
		<h3 class='center'>配置望远镜
			<select id='atNo' style='width:auto;'>
				<option value="0" selected="selected">请选择望远镜</option>
				{volist name="atList" id="vo"}
					<option value="{$vo.id}">{$vo.atname}</option>
				{/volist}
			</select>
		</h3><br>
		<div id='allOptions' class=""><!--所有配置项-->
			<h4 class='center'>转台固定属性</h4>
			<hr>
			<form id='gimbal' class="form" enctype='multipart/form-data'><!--转台配置项-->
				<table class="center_mrg">
					<tr>
						<td>转台ip:</td>
						<td><input type='text' id='gimbalIp' name='ip' placeholder='ip地址'></td>
						<td>望远镜id:</td>
						<td><input type='text' id='gimbalId' name='atid' placeholder='0X000'></td>
						<td>望远镜名称:</td>
						<td><input type='text' id='gimbalName' name='atname' placeholder='1.26m望远镜'></td>
					</tr>
					<tr>
						<td>隶属观测站:</td>
						<td><input type='text' id='gimbalAddress' name='address' placeholder='国家天文台兴隆观测基地'></td>
						<td>经度:</td>
						<td><input type='text' id='gimbalLongitude' name='longitude' placeholder='-180.0~+180.0'></td>
						<td>纬度:</td>
						<td><input type='text' id='gimbalLatitude' name='latitude' placeholder='-90.0~+90.0'></td>
					</tr>
					<tr>
						<td>海拔高度:</td>
						<td><input type='text' id='gimbalAltitude' name='altitude' placeholder='国家天文台兴隆观测基地'></td>
						<td>口径:</td>
						<td><input type='text' id='gimbalAperture' name='aperture' placeholder='216.0'></td>
						<td>类型:</td>
						<td>
							<select id='gimbalType' name='type'>
								<option value="0">请选择</option>
								<option value="0x01">赤道式-德国</option>
								<option value="0x02">赤道式-叉式</option>
								<option value="0x03">赤道式-英式</option>
								<option value="0x04">赤道式-轭式</option>
								<option value="0x05">赤道式-摇篮式</option>
								<option value="0x06">地平式</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>焦点类型:</td>
						<td>
							<select id='gimbalFocustype' name='focustype'></select>
						</td>
						<td>焦比:</td>
						<td>
							<select id='gimbalFocusratio' name='focusratio'></select>
						</td>
						<td>焦距:</td>
						<td>
							<input type='text' id='gimbalFocuslength' name='focuslength' placeholder='[19.4 97.2]'>
						</td>
					</tr>
					<tr>
						<td>轴1最大速度（°/s）:</td><!--maxAxis1Speed-->
						<td>
							<input type='text' id='gimbalMaxAxis1Speed' name='maxaxis1speed' placeholder='0-30'>
						</td>
						<td>轴2最大速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis2Speed' name='maxaxis2speed' placeholder='0-30'>
						</td>
						<td>轴3最大速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis3Speed' name='maxaxis3speed' placeholder='0-30'>
						</td>
					</tr>
					<tr>
						<td>轴1最大加速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis1Acceleration' name='maxaxis1acceleration' placeholder='0-5'>
						</td>
						<td>轴2最大加速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis2Acceleration' name='maxaxis2acceleration' placeholder='0-5'>
						</td>
						<td>轴3最大加速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis3Acceleration' name='maxaxis3acceleration' placeholder='0-5'>
						</td>
					</tr>
					<tr>
						<td>轴1复位位置:</td>
						<td>
							<input type='text' id='gimbalAxis1ParkPosition' name='axis1parkposition' placeholder='0-360'>
						</td>
						<td>轴2复位位置:</td>
						<td>
							<input type='text' id='gimbalAxis2ParkPosition' name='axis2parkposition' placeholder='0-360'>
						</td>
						<td>轴3复位位置:</td>
						<td>
							<input type='text' id='gimbalAxis3ParkPosition' name='axis3parkposition' placeholder='0-360'>
						</td>
					</tr>
					<tr>
						<td>第3轴:</td>
						<td>
							<label>
								有<input type='radio' id='gimbalHaveAxis3' name='haveaxis3' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								无<input type='radio' id='gimbalHaveAxis3-1' name='haveaxis3' value="0">
							</label>
						</td>
						<td>镜盖（轴5）:</td>
						<td>
							<label>
								有<input type='radio' id='gimbalHaveAxis5' name='haveaxis5' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								无<input type='radio' id='gimbalHaveAxis5-1' name='haveaxis5' value="0">
							</label>
						</td>
						<td>俯仰最低值（°）:</td>
						<td>
							<input type='text' id='gimbalMinElevation' name='minelevation'>
						</td>
					</tr>
					<tr>
						<td>温度传感器数目:</td>
						<td>
							<input type='text' id='gimbalNumTemperatureSensor' name='numtemperaturesensor'>
						</td>
						<td>湿度传感器数目:</td>
						<td>
							<input type='text' id='gimbalNumHumiditySensor' name='numhumiditysensor'>
						</td>
						<td>支持连接指令:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanConnect' name='canconnect' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanConnect-1' name='canconnect' value="0">
							</label>	
						</td>
					</tr>
					<tr>
						<td>支持找零指令:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanFindHome' name='canfindhome' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanFindHome-1' name='canfindhome' value="0">
							</label>	
						</td>
						<td>支持跟踪恒星:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanTrackStar' name='cantrackstar' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanTrackStar-1' name='cantrackstar' value="0">
							</label>	
						</td>
						<td>支持设置目标名称:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanSetObjectName' name='cansetobjectname' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanSetObjectName-1' name='cansetobjectname' value="0">
							</label>	
						</td>
					</tr>
					<tr>
						<td>支持指向固定位置:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanSlewAzEl' name='canslewazel' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanSlewAzEl-1' name='canslewazel' value="0">
							</label>
						</td>
						<td>支持轴3指向固定位置:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanSlewDerotator' name='canslewderotator' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanSlewDerotator-1' name='canslewderotator' value="0">
							</label>
						</td>
						<td>支持设置轴3工作模式:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanConfigDerotator' name='canconfigderotator' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanConfigDerotator-1' name='canconfigderotator' value="0">
							</label>
						</td>
					</tr>
					<tr>
						<td>支持停止指令:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanStop' name='canstop' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanStop-1' name='canstop' value="0">
							</label>
						</td>
						<td>支持设置跟踪速度:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanSetTrackSpeed' name='cansettrackspeed' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanSetTrackSpeed-1' name='cansettrackspeed' value="0">
							</label>	
						</td>
						<td>支持复位指令:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanPark' name='canpark' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanPark-1' name='canpark' value="0">
							</label>
						</td>
					</tr>
					<tr>
						<td>支持恒速运动:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanFixedMove' name='canfixedmove' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanFixedMove-1' name='canfixedmove' value="0">
							</label>	
						</td>
						<td>支持位置修正:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanPositionCorrect' name='canpositioncorrect' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanPositionCorrect-1' name='canpositioncorrect' value="0">
							</label>	
						</td>
						<td>支持镜盖操作:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanCoverOperation' name='cancoveroperation' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanCoverOperation-1' name='cancoveroperation' value="0">
							</label>
						</td>
					</tr>
					<tr>
						<td>支持焦点切换镜:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanFocusOperation' name='canfocusoperation' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanFocusOperation-1' name='canfocusoperation' value="0">
							</label>
						</td>
						<td>支持急停指令:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanEmergencyStop' name='canemergencystop' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanEmergencyStop-1' name='canemergencystop' value="0">
							</label>	
						</td>
						<td>支持保存同步数据:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanSaveSyncData' name='cansavesyncdata' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanSaveSyncData-1' name='cansavesyncdata' value="0">
							</label>
						</td>
					</tr>
					<tr>
						<td>支持跟踪卫星:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanTrackSatellite' name='cantracksatellite' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanTrackSatellite-1' name='cantracksatellite' value="0">
							</label>	
						</td>
						<td>支持属性设置:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanconfigProperty' name='canconfigproperty' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='gimbalCanconfigProperty-1' name='canconfigproperty' value="0"></label>
						</td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='gimbalAttrVersion' name='attrversion'>
						</td>
					</tr>
					<tr>
						<td>属性更新时间:</td>
						<td id='gimbalAttrModifyTime'></td>
						<td>上传转台相关文件:</td>
						<td colspan="3" class="border_td">
							出厂测试报告:<input type='file' name='report'>
							说明书:<input type='file' name='instruction'>
						</td>
					</tr>
					<tr>
						<td>转台相关文件:</td>
						<td id='gimbalFile' colspan="5" class="border_td"></td>
					</tr>
				</table>
				<input id='gimbalBtn' type='button' value="提交转台配置">
			</form><!--转台配置项 结束--><br>
			<!--如下为ccd配置项-->
			<h4 class='center'>CCD-No1固定属性</h4>
			<hr>
			<form id='ccd-1' class="form" enctype='multipart/form-data'><!--ccd-No1配置项-->
				<table class="center_mrg">
					<tr>
						<td>ccd之ip:</td>
						<td><input type='text' id='ccdIp' name='ip' placeholder='ip地址'></td>
						<td>ccd之id:</td>
						<td><input type='text' id='ccdId' name='ccdid'></td>
						<td>ccd名称:</td>
						<td><input type='text' id='ccdName' name='name' placeholder='Andor DZ936/PI1300'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td id='ccdTeleId'></td> 
						<td>探测器类型:</td>
						<td>
						  <select id='ccdType' name='type'>
							<option value="0">请选择</option>
							<option value="0x00">CCD</option>
							<option value="0x01">FullFrame CCD</option>
							<option value="0x02">EMCCD</option>
							<option value="0x03">sCMOS</option>
						  </select>
						</td>
						<td>x像素:</td>
						<td><input type='text' id='ccdXpixel' name='xpixel' placeholder='整数'></td>
					</tr>
					<tr>
						<td>y像素:</td>
						<td><input type='text' id='ccdYpixel' name='ypixel' placeholder='整数'></td>
						<td>x像元大小(μm):</td>
						<td><input type='text' id='ccdXpixelSize' name='xpixelsize' placeholder='小数'></td>
						<td>y像元大小(μm):</td>
						<td><input type='text' id='ccdYpixelSize' name='ypixelsize' placeholder='小数'></td>
					</tr>
					<tr>
						<td>传感器名称:</td>
						<td><input type='text' id='ccdSensorName' name='sensorname' placeholder="芯片名称"></td>
						<td>图像位数:</td>
						<td>
							<select id='ccdImageBits' name='imagebits'>
								<option value="0">请选择</option>
							</select>
						</td>
						<td>制冷方式:</td>
						<td>
							<select id='ccdCoolerMode' name='coolermode'> </select>
						</td>
					</tr>
					<tr>
						<td>最低制冷温度（℃）:</td>
						<td>
							<input type='text' id='ccdLowCoolerT' name='lowcoolert'>
						</td>
						<td>最大曝光时间（s）:</td>
						<td>
							<input type='text' id='ccdMaxExposureTime' name='maxexposuretime' placeholder='小数'>
						</td>
						<td>最小曝光时间（s）:</td>
						<td>
							<input type='text' id='ccdMinExposureTime' name='minexposuretime' placeholder='小数'>
						</td>
					</tr>
					<tr>
						<td>曝光时间分辨率:</td>
						<td>
							<input type='text' id='ccdExposureTimeRation' name='exposuretimeration' placeholder='整数'>
						</td>
						<td>满阱电荷:</td>
						<td>
							<input type='text' id='ccdFullWellDepth' name='fullwelldepth' placeholder='整数'>
						</td>
						<td>读出速度模式:</td>
						<td>
							<select id='ccdReadoutSpeed' name='readoutspeed'></select>
						</td>
					</tr>
					<tr>
						<td>读出模式:</td>
						<td colspan="3" class="border_td" id='ccd_1readoutMode'> </td>
						<td>转移速度模式:</td>
						<td>
							<select id='ccdTransferSpeed' name='transferspeed'></select>
						</td>
					</tr>
					<tr>
						<td>增益模式:</td>
						<td colspan="3" class="border_td" id='ccd_1gainmode'></td>
						<td>增益档位:</td>
						<td>
							<select id='ccd_1GainNumber' name='gainnumber'></select>
						</td>
					</tr>
					<tr>
						<td>增益值:</td>
						<td>
							<input type='text' id='ccdGainValueArray' name='gainvaluearray'>
						</td>
						<td>读出噪声值:</td>
						<td>
							<input type='text' id='ccdReadoutNoiseArray' name='readoutnoisearray'>
						</td>
						<td>快门类型:</td>
						<td>
							<select id='ccdShutterType' name='shuttertype'></select>
						</td>
					</tr>
					<tr>
						<td>快门模式:</td>
						<td colspan="3" class="border_td" id='ccd_1ShutterMode'> </td>
						<td>支持帧转移:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportFullFrame' name='issupportfullframe' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportFullFrame-1' name='issupportfullframe' value="0"></label>	
						</td>
					</tr>
					<tr>
						<td>支持EM:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportEM' name='issupportem' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportEM-1' name='issupportem' value="0"></label>
						</td>
						<td>支持CMOS noise filter:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportsCmosNoiseFilter' name='issupportscmosnoisefilter' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportsCmosNoiseFilter-1' name='issupportscmosnoisefilter' value="0"></label>
						</td>
						<td>支持base line:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportBaseLine' name='issupportbaseline' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportBaseLine-1' name='issupportbaseline' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>支持Over scan:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportOverScan' name='issupportoverscan' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportOverScan-1' name='issupportoverscan' value="0"></label>
						</td>
						<td>BIN:</td>
						<td>
							<select id='ccd_1BinArray' name='binarray'> </select>
						</td>
						<td>支持开窗:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportROI' name='issupportroi' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportROI-1' name='issupportroi' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>接口类型:</td>
						<td colspan="3" class="border_td" id='ccd_1InterfaceType'> </td>
						<td>最大EM:</td>
						<td>
							<input type='text' id='ccdEmMaxValue' name='emmaxvalue' placeholder="整数">
						</td>
					</tr>
					<tr>
						<td>曝光触发模式:</td>
						<td colspan="3" class="border_td" id='ccd_1ExposeTriggerMode'></td>
						<td>最小EM:</td>
						<td>
							<input type='text' id='ccdEmMinValue' name='emminvalue' placeholder="整数">
						</td>
					</tr>
					<tr>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='ccdCanConnect' name='canconnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanConnect-1' name='canconnect' value="0"></label>
						</td>
						<td>设置制冷温度:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetCoolerT' name='cansetcoolert' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetCoolerT-1' name='cansetcoolert' value="0"></label>
							
						</td>
						<td>设置曝光策略:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetExposureParam' name='cansetexposureparam' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetExposureParam-1' name='cansetexposureparam' value="0"></label>	
						</td>
					</tr>
					<tr>
						<td>支持开始曝光:</td>
						<td>
							<label>是<input type='radio' id='ccdCanStartExposure' name='canstartexposure' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanStartExposure-1' name='canstartexposure' value="0"></label>
						</td>
						<td>支持停止曝光:</td>
						<td>
							<label>是<input type='radio' id='ccdCanStopExposure' name='canstopexposure' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanStopExposure-1' name='canstopexposure' value="0"></label>	
						</td>
						<td>支持终止曝光:</td>
						<td>
							<label>是<input type='radio' id='ccdCanAbortExposure' name='canabortexposure' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanAbortExposure-1' name='canabortexposure' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置增益:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetGain' name='cansetgain' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetGain-1' name='cansetgain' value="0"></label>
						</td>
						<td>设置读出速度模式值:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetReadoutSpeedMode' name='cansetreadoutspeedmode' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetReadoutSpeedMode-1' name='cansetreadoutspeedmode' value="0"></label>
						</td>
						<td>设置转移速度模式值:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetTransferSpeedMode' name='cansettransferspeedmode' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetTransferSpeedMode-1' name='cansettransferspeedmode' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置BIN:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetBin' name='cansetbin' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetBin-1' name='cansetbin' value="0"></label>
						</td>
						<td>设置ROI:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetROI' name='cansetroi' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetROI-1' name='cansetroi' value="0"></label>
						</td>
						<td>设置快门:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetShutter' name='cansetshutter' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetShutter-1' name='cansetshutter' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置帧转移:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetFullFrame' name='cansetfullframe' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetFullFrame-1' name='cansetfullframe' value="0"></label>
						</td>
						<td>设置EM:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetEM' name='cansetem' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetEM-1' name='cansetem' value="0"></label>
						</td>
						<td>设置CMOS noise filter:</td>
						<td>
							<label>是<input type='radio' id='ccdCanNoiseFilter' name='cannoisefilter' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanNoiseFilter-1' name='cannoisefilter' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置Base line:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetBaseline' name='cansetbaseline' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetBaseline-1' name='cansetbaseline' value="0"></label>
						</td>
						<td>设置Over scan:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetOverScan' name='cansetoverscan' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetOverScan-1' name='cansetoverscan' value="0"></label>
						</td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='ccdAttrVersion' name='attrversion'>
						</td>
					</tr>
					<tr>
						<td>属性更新时间:</td>
						<td id='ccdAttrModifyTime'></td>
					</tr>
					<tr>
						<td>上传CCD-No1相关文件:</td>
						<td colspan="5" class="border_td">
							量子效率曲线:<input type='file' name='qecurve'>
							出厂测试报告:<input type='file' name='specification'>
							说明书:<input type='file' name='manualbook'>
						</td>
					</tr>
					<tr>
						<td>CCD-No1相关文件:</td>
						<td id='ccdFile' colspan="5" class="border_td">	</td>
					</tr>
				</table>
				<input id='ccdBtn-1' type='button' value="提交CCD-No1配置">
			</form><!--ccd-No1配置项 结束--><br>

			<h4 class='center'>滤光片固定属性</h4>
			<hr>
			<form id='filter' class="form" enctype='multipart/form-data'><!--滤光片配置项-->
				<table class="center_mrg">
					<tr>
						<td>滤光片ip:</td>
						<td><input type='text' id='filterIp' name='ip' placeholder='ip地址'></td>
						<td>滤光片id:</td>
						<td><input type='text' id='filterId' name='filterid'></td>
						<td>滤光片名称:</td>
						<td><input type='text' id='filterName' name='name'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td id='filterTeleId'></td>
						<td>插槽数目:</td>
						<td><input type='text' id='filterNum' name='numberoffilter'></td>
						<td>插槽大小:</td>
						<td><input type='text' id='filterSize' name='filtersize' placeholder='[x,y,z]'></td>
					</tr>
					<tr>
						<td>滤光片类型:</td>
						<td colspan="3" class="border_td">
							插槽序号:
							<select id='filterSlot' name='slot'><!--此元素的值无须入库-->
								<option value="0">选择插槽</option>
							</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							滤光片类型:<!--此元素的值也无须入库 此2元素的点击事件中生成一个数组，然后入库-->
							<select id='filterSystem' name='filtersystem'> <option value="0">选择类型</option> </select>
						</td>
						<td>滤光片名称:</td>
						<td><input type='text' id='filterName' name='filtername' placeholder='u/v/r/i...'></td>
					</tr>
					<tr>
						<td>滤光片焦距偏差值（um）:</td>
						<td colspan="3">
							<input type='text' id='filterFocusLengthCompensate' name='filterfocuslengthcompensate' placeholder="[2 3 4]" style="width:580px;">
						</td>
						<td>滤光片形状:</td>
						<td>
							<select id='filterShape' name='filtershape'>
								<option value="0">请选择-从后台获取</option>
								<option value="0x01">sdfs</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>设置滤光片位置:</td>
						<td>
							<label>是<input type='radio' id='canSetFilterPosition' name='cansetfilterposition' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='canSetFilterPosition-1' name='cansetfilterposition' value="0"></label>
						</td>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='filterCanConnect' name='canconnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='filterCanConnect-1' name='canconnect' value="0"></label>
						</td>
						<td>支持找零:</td>
						<td>
							<label>是<input type='radio' id='filterCanFindHome' name='canfindhome' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='filterCanFindHome-1' name='canfindhome' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>属性更新时间:</td>
						<td id='filterAttrModifyTime'></td>
						<td>属性版本号:</td>
						<td id='filterAttrVersion'>
							<input type='text' name='attrversion'>
						</td>
					</tr>
					<tr>
						<td>上传滤光片相关文件:</td>
						<td colspan="2" class="border_td">
							说明文件:<input type='file' name='specification'>
						</td>
						<td>滤光片相关文件:</td>
						<td id='filterFile' colspan="2" class="border_td"></td>
					</tr>
				</table>
				<input id='filterBtn' type='button' value="提交滤光片配置">
			</form><!-- 滤光片固定属性配置项 结束--><br>
			
			<h4 class='center'>随动圆顶固定属性</h4>
			<hr>
			<form id='sDome' class="form" enctype='multipart/form-data'><!--随动圆顶配置项-->
				<table class="center_mrg">
					<tr>
						<td>随动圆顶ip:</td>
						<td><input type='text' id='sDomeIp' name='ip' placeholder='ip地址'></td>
						<td>随动圆顶id:</td>
						<td><input type='text' id='sDomeId' name='sdomeid'></td>
						<td>随动圆顶名称:</td>
						<td><input type='text' id='sDomeName' name='name'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td id='sDomeTeleId'></td>
						<td>类型:</td>
						<td>
							<select id='sDomeType' name='dometype'>
								<option value="0">选择-后台获取</option>
							</select>
						</td>
						<td>最大转动速度（度/秒）:</td>
						<td><input type='text' id='sDomeMaxSpeed' name='maxspeed' placeholder='小数'></td>
					</tr>
					<tr>
						<td>尺寸大小:</td>
						<td>
							<input type='text' id='sDomeDiameter' name='diameter' placeholder='小数'></td>
						</td>
						<td>风帘:</td>
						<td>
							<label>有<input type='radio' id='sDomeHasShade' name='hasshade' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>无<input type='radio' id='sDomeHasShade-1' name='hasshade' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置目标方位:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanSetDomePositin' name='cansetdomepositin' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanSetDomePositin-1' name='cansetdomepositin' value="0"></label>
						</td>
						<td>设置风帘位置:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanSetShadePosition' name='cansetshadeposition' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanSetShadePosition-1' name='cansetshadeposition' value="0"></label>
						</td>
						<td>设置转动速度:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanSetRotateSpeed' name='cansetrotatespeed' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanSetRotateSpeed-1' name='cansetrotatespeed' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>支持停止运动:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanStop' name='canstop' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanStop-1' name='canstop' value="0"></label>
						</td>
						<td>支持打开天窗:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanOpenShutter' name='canopenshutter' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanOpenShutter-1' name='canopenshutter' value="0"></label>
						</td>
						<td>控制风帘运动:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanSetShadeSpeed' name='cansetshadespeed' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanSetShadeSpeed-1' name='cansetshadespeed' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanConnect' name='canconnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanConnect-1' name='canconnect' value="0"></label>
						</td>
						<td>属性更新时间:</td>
						<td id='sDomeAttrModifyTime'></td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='sDomeAttrVersion' name='attrversion'>
						</td>
					</tr>
					<tr>
						<td>上传随动圆顶相关文件:</td>
						<td colspan="2" class="border_td">
							说明文件:<input type='file' name='specification'>
						</td>
						<td>随动圆顶相关文件:</td>
						<td colspan="2" class="border_td">
							<a title="点击下载" id='sDomeFile'>lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='sDomeBtn' type='button' value="提交随动圆顶配置">
			</form><!-- 随动圆顶固定属性配置项 结束--><br>

			<h4 class='center'>全开圆顶固定属性</h4>
			<hr>
			<form id='oDome' class="form" enctype='multipart/form-data'><!--全开圆顶配置项-->
				<table class="center_mrg">
					<tr>
						<td>全开圆顶ip:</td>
						<td><input type='text' id='oDomeIp' name='ip' placeholder='ip地址'></td>
						<td>全开圆顶id:</td>
						<td><input type='text' id='oDomeId' name='odomeid'></td>
						<td>全开圆顶名称:</td>
						<td><input type='text' id='oDomeName' name='name'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td id='oDomeTeleId'></td>
						<td>类型:</td>
						<td>
							<select id='oDomeType' name='type'>
								<option value="0">选择-后台获取</option>
							</select>
						</td>
						<td>尺寸大小（m）:</td>
						<td><input type='text' id='oDomeMinValue' name='diameter' placeholder='直径'></td>
					</tr>
					<tr>
						<td>支持打开圆顶:</td>
						<td>
							<label>是<input type='radio' id='oDomeCanOpenDome' name='canopendome' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='oDomeCanOpenDome-1' name='canopendome' value="0"></label>
						</td>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='oDomeCanConnect' name='canconnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='oDomeCanConnect-1' name='canconnect' value="0"></label>
						</td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='odomeattrversion' name='attrversion'>
						</td>
					</tr>
					<tr>
						<td>属性更新时间:</td>
						<td id='sDomeAttrModifyTime'></td>
						<td>上传全开圆顶相关文件:</td>
						<td colspan="2" class="border_td">
							说明文件:<input type='file' name='specification'>
						</td>
					</tr>
					<tr>
						<td>全开圆顶相关文件:</td>
						<td class="border_td">
							<a title="点击下载" id='oDomeFile'>lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='oDomeBtn' type='button' value="提交全开圆顶配置">
			</form><!-- 全开圆顶固定属性配置项 结束--><br>

			<h4 class='center'>调焦器固定属性</h4>
			<hr>
			<form id='focus' class="form" enctype='multipart/form-data'><!--调焦器配置项-->
				<table class="center_mrg">
					<tr>
						<td>调焦器ip:</td>
						<td><input type='text' id='focusIp' name='ip' placeholder='ip地址'></td>
						<td>调焦器id:</td>
						<td><input type='text' id='focusId' name='focusid'></td>
						<td>调焦器名称:</td>
						<td><input type='text' id='focusName' name='name'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td id='focusTeleId'></td>
						<td>最大值（μm）:</td>
						<td>
							<input type='text' id='focusMaxValue' name='maxvalue' placeholder='小数'>
						</td>
						<td>最小值（μm）:</td>
						<td><input type='text' id='focusMinValue' name='minvalue' placeholder='小数'></td>
					</tr>
					<tr>
						<td>分辨率（μm）:</td>
						<td>
							<input type='text' id='focusIncrement' name='increment' placeholder='小数'>
						</td>
						<td>最大速度（μm/s）:</td>
						<td>
							<input type='text' id='focusMaxSpeed' name='maxspeed' placeholder='小数'>
						</td>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='focusCanConnect' name='canconnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusCanConnect-1' name='canconnect' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>支持找零:</td>
						<td>
							<label>是<input type='radio' id='focusCanFindHome' name='canfindhome' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusCanFindHome-1' name='canfindhome' value="0"></label>
						</td>
						<td>进行温度补偿:</td>
						<td>
							<label>是<input type='radio' id='focusTempertureCompensate' name='cantemperturecompensate' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusTempertureCompensate-1' name='cantemperturecompensate' value="0"></label>
						</td>
						<td>设置目标位置:</td>
						<td>
							<label>是<input type='radio' id='focusCanSetPosition' name='cansetposition' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusCanSetPosition-1' name='cansetposition' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置恒速运动:</td>
						<td>
							<label>是<input type='radio' id='focusCanSetSpeed' name='cansetspeed' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusCanSetSpeed-1' name='cansetspeed' value="0"></label>
						</td>
						<td>支持停止运动:</td>
						<td>
							<label>是<input type='radio' id='focusCanStop' name='canstop' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusCanStop-1' name='canstop' value="0"></label>
						</td>
						<td>使能温度补偿:</td>
						<td>
							<label>是<input type='radio' id='focusEnableTempertureCompensate' name='canenabletemperturecompensate' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusEnableTempertureCompensate-1' name='canenabletemperturecompensate' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置温度补偿系数:</td>
						<td>
							<label>是<input type='radio' id='focusSetTempertureCompensatecoefficient' name='cansettemperturecompensatecoefficient' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusSetTempertureCompensatecoefficient-1' name='cansettemperturecompensatecoefficient' value="0"></label>
						</td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='focusAttrVersion' name='attrversion'>
						</td>
						<td>属性更新时间:</td>
						<td id='focusAttrModifyTime'></td>
					</tr>
					<tr>
						<td>上传调焦器相关文件:</td>
						<td colspan="2" class="border_td">
							说明文件:<input type='file' name='specification'>
						</td>
						<td>调焦器相关文件:</td>
						<td colspan="2" class="border_td">
							<a title="点击下载" id='focusFile'>lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='focusBtn' type='button' value="提交调焦器配置">
			</form><!--调焦器固定属性配置项 结束--><br>

			<h4 class='center'>导星望远镜固定属性</h4>
			<hr>
			<form id='focus' class="form" enctype='multipart/form-data'><!--导星望远镜配置项-->
				<table class="center_mrg">
					<tr>
						<td>导星望远镜ip:</td>
						<td><input type='text' id='focusIp' name='ip' placeholder='ip地址'></td>
						<td>导星望远镜id:</td>
						<td><input type='text' id='guideScopeId' name='guidescopeid'></td>
						<td>导星望远镜名称:</td>
						<td><input type='text' id='guideScopeName' name='name'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td id='guideScopeTeleId'></td>
						<td>口径:</td>
						<td>
							<input type='text' id='guideScopeAperture' name='aperture' placeholder='小数'>
						</td>
						<td>焦点类型:</td>
						<td>
							<select id='guideScopeOpticalStructure' name='opticalstructure'>
								<option value="0">选择-后台获取</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>焦距:</td>
						<td>
							<input type='text' id='guideScopeFocusLength' name='focuslength' placeholder='小数'>
						</td>
						<td>镜盖（轴5）:</td>
						<td>
							<label>有<input type='radio' id='guideScopeMirrorCover' name='hasmirrorcover' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>无<input type='radio' id='guideScopeMirrorCover-1' name='hasmirrorcover' value="0"></label>
						</td>
						<td>支持自动调焦:</td>
						<td>
							<label>是<input type='radio' id='guideScopeSupportAutoFocus' name='issupportautofocus' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='guideScopeSupportAutoFocus-1' name='issupportautofocus' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='guideScopeCanConnect' name='canconnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='guideScopeCanConnect-1' name='canconnect' value="0"></label>
						</td>
						<td>支持镜盖操作:</td>
						<td>
							<label>是<input type='radio' id='guideScopeOpenCover' name='canopencover' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='guideScopeOpenCover-1' name='canopencover' value="0"></label>
						</td>
						<td>使能自动调焦:</td>
						<td>
							<label>是<input type='radio' id='guideScopeEnableAutoFocus' name='canenableautofocus' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='guideScopeEnableAutoFocus-1' name='canenableautofocus' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='guideScopeAttrVersion' name='attrversion'>
						</td>
						<td>属性更新时间:</td>
						<td id='guideScopeAttrModifyTime'></td>
					</tr>
					<tr>
						<td>上传导星望远镜相关文件:</td>
						<td colspan="2" class="border_td">
							说明文件:<input type='file' name='specification'>
						</td>
						<td>导星望远镜相关文件:</td>
						<td colspan="2" class="border_td">
							<a title="点击下载" id='guideScopeFile'>lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='guideScopeBtn' type='button' value="提交导星望远镜配置">
			</form><!--导星望远镜固定属性配置项 结束--><br>

		</div><!-- 所有配置项 结束 -->
	</div><!-- id='all' 结束 --><br>
	<!-- <div class='clear'></div> -->
	<footer class='center clear'>
		<span>中科院国家天文台兴隆观测基地</span>
	</footer>
</body>
</html>