<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>配置望远镜</title>
     {load href='/static/css/common-1.css'}
     {load href='/static/css/atconfig.css'}
     {load href='/static/plugin/easyui-1.3.5/jquery.min.js'}
	 {load href='/static/plugin/layer/layer.js'}
     {load href='/static/js/atconfig.js'}
</head>
<body>
	{include file="common/common"/}
    <div id='all'>
		<div id='otherConf' class='center'>
			<span>
				请先配置:焦点类型、图像位数、读出模式、读出速度模式、增益挡位、快门类型、快门模式、ccd制冷方式、ccd接口类型等固定属性的可选项！
			</span><br>
			<a href='{:url("/conf_option")}' target="_blank">去配置上述固定属性</a>
		</div><br>
		<h3 class='center'>配置望远镜
			<select id='atNo' style='width:auto;'>
				<option value="0" selected="selected">请选择望远镜</option>
				{volist name="atList" id="vo"}
					<option value="{$vo.id}">{$vo.atname}</option>
				{/volist}
			</select>
		</h3><br>
		<div id='allOptions' class=""><!--所有配置项-->
			<h4 class='center'>转台固定属性</h4>
			<hr>
			<form id='gimbal' class="form" enctype='multipart/form-data'><!--转台配置项-->
				<table class="center_mrg">
					<tr>
						<td>转台ip:</td>
						<td><input type='text' id='gimbalIp' name='ip' placeholder='ip地址'></td>
						<td>望远镜id:</td>
						<td><input type='text' id='gimbalId' name='atid' placeholder='0X000'></td>
						<td>望远镜名称:</td>
						<td><input type='text' id='gimbalName' name='atname' placeholder='1.26m望远镜'></td>
					</tr>
					<tr>
						<td>隶属观测站:</td>
						<td><input type='text' id='gimbalAddress' name='address' placeholder='国家天文台兴隆观测基地'></td>
						<td>经度:</td>
						<td><input type='text' id='gimbalLongitude' name='longitude' placeholder='-180.0~+180.0'></td>
						<td>纬度:</td>
						<td><input type='text' id='gimbalLatitude' name='latitude' placeholder='-90.0~+90.0'></td>
					</tr>
					<tr>
						<td>海拔高度:</td>
						<td><input type='text' id='gimbalAltitude' name='altitude' placeholder='国家天文台兴隆观测基地'></td>
						<td>口径:</td>
						<td><input type='text' id='gimbalAperture' name='aperture' placeholder='216.0'></td>
						<td>类型:</td>
						<td>
							<select id='gimbalType' name='type'>
								<option value="0">请选择</option>
								<option value="0x01">赤道式-德国</option>
								<option value="0x02">赤道式-叉式</option>
								<option value="0x03">赤道式-英式</option>
								<option value="0x04">赤道式-轭式</option>
								<option value="0x05">赤道式-摇篮式</option>
								<option value="0x06">地平式</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>焦点类型:</td>
						<td>
							<select id='gimbalFocustype' name='focustype'>
								<option value="0">请选择</option>
							</select>
						</td>
						<td>焦比:</td>
						<td>
							<select id='gimbalFocusratio' name='focusratio'>
								<option value="0">请选择-从后台获取</option>
								<option value="0x01">sdfs</option>
							</select>
						</td>
						<td>焦距:</td>
						<td>
							<input type='text' id='gimbalFocuslength' name='focuslength' placeholder='[19.4 97.2]'>
						</td>
					</tr>
					<tr>
						<td>轴1最大速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis1Speed' name='maxAxis1Speed' placeholder='0-30'>
						</td>
						<td>轴2最大速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis2Speed' name='maxAxis2Speed' placeholder='0-30'>
						</td>
						<td>轴3最大速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis3Speed' name='maxAxis3Speed' placeholder='0-30'>
						</td>
					</tr>
					<tr>
						<td>轴1最大加速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis1Acceleration' name='maxAxis1Acceleration' placeholder='0-5'>
						</td>
						<td>轴2最大加速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis2Acceleration' name='maxAxis2Acceleration' placeholder='0-5'>
						</td>
						<td>轴3最大加速度（°/s）:</td>
						<td>
							<input type='text' id='gimbalMaxAxis3Acceleration' name='maxAxis3Acceleration' placeholder='0-5'>
						</td>
					</tr>
					<tr>
						<td>轴1复位位置:</td>
						<td>
							<input type='text' id='gimbalAxis1ParkPosition' name='axis1ParkPosition' placeholder='0-360'>
						</td>
						<td>轴2复位位置:</td>
						<td>
							<input type='text' id='gimbalAxis2ParkPosition' name='axis2ParkPosition' placeholder='0-360'>
						</td>
						<td>轴3复位位置:</td>
						<td>
							<input type='text' id='gimbalAxis3ParkPosition' name='axis3ParkPosition' placeholder='0-360'>
						</td>
					</tr>
					<tr>
						<td>第3轴:</td>
						<td>
							<label>
								有<input type='radio' id='gimbalHaveAxis3' name='haveAxis3' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								无<input type='radio' id='gimbalHaveAxis3-1' name='haveAxis3' value="0">
							</label>
						</td>
						<td>镜盖（轴5）:</td>
						<td>
							<label>
								有<input type='radio' id='gimbalHaveAxis5' name='haveAxis5' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								无<input type='radio' id='gimbalHaveAxis5-1' name='haveAxis5' value="0">
							</label>
						</td>
						<td>俯仰最低值（°）:</td>
						<td>
							<input type='text' id='gimbalMinElevation' name='minElevation'>
						</td>
					</tr>
					<tr>
						<td>温度传感器数目:</td>
						<td>
							<input type='text' id='gimbalNumTemperatureSensor' name='numTemperatureSensor'>
						</td>
						<td>湿度传感器数目:</td>
						<td>
							<input type='text' id='gimbalNumHumiditySensor' name='numHumiditySensor'>
						</td>
						<td>支持连接指令:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanConnect' name='canConnect' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanConnect-1' name='canConnect' value="0">
							</label>	
						</td>
					</tr>
					<tr>
						<td>支持找零指令:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanFindHome' name='canFindHome' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanFindHome-1' name='canFindHome' value="0">
							</label>	
						</td>
						<td>支持跟踪恒星:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanTrackStar' name='canTrackStar' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanTrackStar-1' name='canTrackStar' value="0">
							</label>	
						</td>
						<td>支持设置目标名称:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanSetObjectName' name='canSetObjectName' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanSetObjectName-1' name='canSetObjectName' value="0">
							</label>	
						</td>
					</tr>
					<tr>
						<td>支持指向固定位置:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanSlewAzEl' name='canSlewAzEl' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanSlewAzEl-1' name='canSlewAzEl' value="0">
							</label>
						</td>
						<td>支持轴3指向固定位置:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanSlewDerotator' name='canSlewDerotator' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanSlewDerotator-1' name='canSlewDerotator' value="0">
							</label>
						</td>
						<td>支持设置轴3工作模式:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanConfigDerotator' name='canConfigDerotator' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanConfigDerotator-1' name='canConfigDerotator' value="0">
							</label>
						</td>
					</tr>
					<tr>
						<td>支持停止指令:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanStop' name='canStop' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanStop-1' name='canStop' value="0">
							</label>
						</td>
						<td>支持设置跟踪速度:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanSetTrackSpeed' name='canSetTrackSpeed' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanSetTrackSpeed-1' name='canSetTrackSpeed' value="0">
							</label>	
						</td>
						<td>支持复位指令:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanPark' name='canPark' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanPark-1' name='canPark' value="0">
							</label>
						</td>
					</tr>
					<tr>
						<td>支持恒速运动:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanFixedMove' name='canFixedMove' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanFixedMove-1' name='canFixedMove' value="0">
							</label>	
						</td>
						<td>支持位置修正:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanPositionCorrect' name='canPositionCorrect' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanPositionCorrect-1' name='canPositionCorrect' value="0">
							</label>	
						</td>
						<td>支持镜盖操作:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanCoverOperation' name='canCoverOperation' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanCoverOperation-1' name='canCoverOperation' value="0">
							</label>
						</td>
					</tr>
					<tr>
						<td>支持焦点切换镜:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanFocusOperation' name='canFocusOperation' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanFocusOperation-1' name='canFocusOperation' value="0">
							</label>
						</td>
						<td>支持急停指令:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanEmergencyStop' name='canEmergencyStop' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanEmergencyStop-1' name='canEmergencyStop' value="0">
							</label>	
						</td>
						<td>支持保存同步数据:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanSaveSyncData' name='canSaveSyncData' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanSaveSyncData-1' name='canSaveSyncData' value="0">
							</label>
						</td>
					</tr>
					<tr>
						<td>支持跟踪卫星:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanTrackSatellite' name='canTrackSatellite' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>
								否<input type='radio' id='gimbalCanTrackSatellite-1' name='canTrackSatellite' value="0">
							</label>	
						</td>
						<td>支持属性设置:</td>
						<td>
							<label>
								是<input type='radio' id='gimbalCanconfigProperty' name='canconfigProperty' value="1">
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='gimbalCanconfigProperty-1' name='canconfigProperty' value="0"></label>
						</td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='gimbalAttrVersion' name='attrVersion'>
						</td>
					</tr>
					<tr>
						<td>属性更新时间:</td>
						<td>
							<input type='text' id='gimbalAttrModifyTime' name='attrModifyTime' placeholder="2018-1-30">
						</td>
						<td>上传转台相关文件:</td>
						<td colspan="3" class="border_td">
							出厂测试报告:<input type='file' name='report'>
							说明书:<input type='file' name='instruction'>
						</td>
					</tr>
					<tr>
						<td>转台相关文件:</td>
						<td id='gimbalFile' colspan="5" class="border_td">
							<a title="点击下载">lsfdjlks</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a title="点击下载">lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='gimbalBtn' type='button' value="提交转台配置">
			</form><!--转台配置项 结束--><br>
			<!--如下为ccd配置项-->
			<h4 class='center'>CCD-No1固定属性</h4>
			<hr>
			<form id='ccd-1' class="form" enctype='multipart/form-data'><!--ccd-No1配置项-->
				<table class="center_mrg">
					<tr>
						<td>ccd之ip:</td>
						<td><input type='text' id='ccdIp' name='ip' placeholder='ip地址'></td>
						<td>ccd之id:</td>
						<td><input type='text' id='ccdId' name='ccdId'></td>
						<td>ccd名称:</td>
						<td><input type='text' id='ccdName' name='name' placeholder='Andor DZ936/PI1300'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td><input type='text' id='ccdTeleId' name='teleId'></td>
						<td>探测器类型:</td>
						<td>
						  <select id='ccdType' name='type'>
							<option value="0">请选择</option>
							<option value="0x00">CCD</option>
							<option value="0x01">FullFrame CCD</option>
							<option value="0x02">EMCCD</option>
							<option value="0x03">sCMOS</option>
						  </select>
						</td>
						<td>x像素:</td>
						<td><input type='text' id='ccdXpixel' name='xPixel' placeholder='整数'></td>
					</tr>
					<tr>
						<td>y像素:</td>
						<td><input type='text' id='ccdYpixel' name='yPixel' placeholder='整数'></td>
						<td>x像元大小(um):</td>
						<td><input type='text' id='ccdXpixelSize' name='xPixelSize' placeholder='小数'></td>
						<td>y像元大小(um):</td>
						<td><input type='text' id='ccdYpixelSize' name='yPixelSize' placeholder='小数'></td>
					</tr>
					<tr>
						<td>传感器名称:</td>
						<td><input type='text' id='ccdSensorName' name='sensorName' placeholder="芯片名称"></td>
						<td>图像位数:</td>
						<td>
							<select id='ccdImageBits' name='imageBits'>
								<option value="0">请选择-从后台获取</option>
								<option value="0x01">sdfs</option>
							</select>
						</td>
						<td>制冷方式:</td>
						<td>
							<select id='ccdCoolerMode' name='coolerMode'>
								<option value="0">请选择-从后台获取</option>
								<option value="0x01">sdfs</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>最低制冷温度（℃）:</td>
						<td>
							<input type='text' id='ccdLowCoolerT' name='lowCoolerT'>
						</td>
						<td>最大曝光时间（s）:</td>
						<td>
							<input type='text' id='ccdMaxExposureTime' name='maxExposureTime' placeholder='小数'>
						</td>
						<td>最小曝光时间（s）:</td>
						<td>
							<input type='text' id='ccdMinExposureTime' name='minExposureTime' placeholder='小数'>
						</td>
					</tr>
					<tr>
						<td>曝光时间分辨率:</td>
						<td>
							<input type='text' id='ccdExposureTimeRation' name='exposureTimeRation' placeholder='整数'>
						</td>
						<td>满阱电荷:</td>
						<td>
							<input type='text' id='ccdFullWellDepth' name='fullWellDepth' placeholder='整数'>
						</td>
						<td>读出速度模式:</td>
						<td>
							<select id='ccdReadoutSpeed' name='readoutSpeed'>
								<option value="0">请选择-从后台获取</option>
								<option value="1">sdfs</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>读出模式(从后台读出):</td>
						<td colspan="3" class="border_td" id='ccd_1readoutMode'>
							支持单门读出<input type='checkbox' id='ccd_1ReadoutMode1' name='readoutMode[]' value=''>
							|支持双门读出<input type='checkbox' id='ccd_1ReadoutMode2' name='readoutMode[]'>
							|支持四门读出<input type='checkbox' id='ccd_1ReadoutMode3' name='readoutMode[]'>
							|支持四门读出<input type='checkbox' id='ccd_1ReadoutMode4' name='readoutMode[]'>
						</td>
						<td>转移速度模式:</td>
						<td>
							<select id='ccdTransferSpeed' name='transferSpeed'>
								<option value="0">请选择-从后台获取</option>
								<option value="1">sdfs</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>增益模式(从后台读出):</td>
						<td colspan="3" class="border_td" id='ccd_1gainmode'>
							支持High Capacity<input type='checkbox' id='ccdGainmode1' name='gainmode[]' value=''>
							|支持High Sensitivity<input type='checkbox' id='ccdGainmode2' name='gainmode[]'>
						</td>
						<td>增益档位(从后台读出):</td>
						<td>
							<select id='ccd_1GainNumber' name='gainNumber'>
								<option value="0">请选择-从后台获取</option>
								<option value="1">sdfs</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>增益值:</td>
						<td>
							<input type='text' id='ccdGainValueArray' name='gainValueArray'>
						</td>
						<td>读出噪声值:</td>
						<td>
							<input type='text' id='ccdReadoutNoiseArray' name='readoutNoiseArray'>
						</td>
						<td>快门类型:</td>
						<td>
							<select id='ccdShutterType' name='ShutterType'>
								<option value="0">请选择-从后台获取</option>
								<option value="1">sdfs</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>快门模式(从后台读出):</td>
						<td colspan="3" class="border_td" id='ccd_1ShutterMode'>
							支持High Capacity<input type='checkbox' id='ccdShutterMode1' name='ShutterMode[]' value=''>
							|支持High Sensitivity<input type='checkbox' id='ccdShutterMode2' name='ShutterMode[]'>
						</td>
						<td>支持帧转移:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportFullFrame' name='IsSupportFullFrame' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportFullFrame-1' name='IsSupportFullFrame' value="0"></label>	
						</td>
					</tr>
					<tr>
						<td>支持EM:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportEM' name='IsSupportEM' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportEM-1' name='IsSupportEM' value="0"></label>
						</td>
						<td>支持CMOS noise filter:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportsCmosNoiseFilter' name='IsSupportsCmosNoiseFilter' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportsCmosNoiseFilter-1' name='IsSupportsCmosNoiseFilter' value="0"></label>
						</td>
						<td>支持base line:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportBaseLine' name='IsSupportBaseLine' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportBaseLine-1' name='IsSupportBaseLine' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>支持Over scan:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportOverScan' name='IsSupportOverScan' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportOverScan-1' name='IsSupportOverScan' value="0"></label>
						</td>
						<td>BIN:</td>
						<td>
							<select id='ccd_1BinArray' name='BINARRAY'>
								<option value="0">请选择-从后台获取</option>
								<option value="1">sdfs</option>
							</select>
						</td>
						<td>支持开窗:</td>
						<td>
							<label>是<input type='radio' id='ccdIsSupportROI' name='IsSupportROI' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdIsSupportROI-1' name='IsSupportROI' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>接口类型(后台获取):</td>
						<td colspan="3" class="border_td" id='ccd_1InterfaceType'>
							支持USB2.0<input type='checkbox' id='ccdInterfaceType1' name='InterfaceType[]' value=''>
							|支持USB3.0<input type='checkbox' id='ccdInterfaceType2' name='InterfaceType[]'>
						</td>
						<td>最大EM:</td>
						<td>
							<input type='text' id='ccdEmMaxValue' name='EMMaxValue' placeholder="整数">
						</td>
					</tr>
					<tr>
						<td>曝光触发模式(后台获取):</td>
						<td colspan="3" class="border_td" id='ccd_1ExposeTriggerMode'>
							支持硬件触发<input type='checkbox' id='ccdExposeTriggerMode1' name='ExposeTriggerMode[]' value=''>
							|支持软件件触发<input type='checkbox' id='ccdExposeTriggerMode2' name='ExposeTriggerMode[]'>
						</td>
						<td>最小EM:</td>
						<td>
							<input type='text' id='ccdEmMinValue' name='EMMinValue' placeholder="整数">
						</td>
					</tr>
					<tr>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='ccdCanConnect' name='canConnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanConnect-1' name='canConnect' value="0"></label>
						</td>
						<td>设置制冷温度:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetCoolerT' name='canSetCoolerT' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetCoolerT-1' name='canSetCoolerT' value="0"></label>
							
						</td>
						<td>设置曝光策略:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetExposureParam' name='canSetExposureParam' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetExposureParam-1' name='canSetExposureParam' value="0"></label>	
						</td>
					</tr>
					<tr>
						<td>支持开始曝光:</td>
						<td>
							<label>是<input type='radio' id='ccdCanStartExposure' name='canStartExposure' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanStartExposure-1' name='canStartExposure' value="0"></label>
						</td>
						<td>支持停止曝光:</td>
						<td>
							<label>是<input type='radio' id='ccdCanStopExposure' name='canStopExposure' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanStopExposure-1' name='canStopExposure' value="0"></label>	
						</td>
						<td>支持终止曝光:</td>
						<td>
							<label>是<input type='radio' id='ccdCanAbortExposure' name='canAbortExposure' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanAbortExposure-1' name='canAbortExposure' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置增益:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetGain' name='canSetGain' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetGain-1' name='canSetGain' value="0"></label>
						</td>
						<td>设置读出速度模式值:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetReadoutSpeedMode' name='canSetReadoutSpeedMode' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetReadoutSpeedMode-1' name='canSetReadoutSpeedMode' value="0"></label>
						</td>
						<td>设置转移速度模式值:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetTransferSpeedMode' name='canSetTransferSpeedMode' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetTransferSpeedMode-1' name='canSetTransferSpeedMode' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置BIN:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetBin' name='canSetBin' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetBin-1' name='canSetBin' value="0"></label>
						</td>
						<td>设置ROI:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetROI' name='canSetROI' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetROI-1' name='canSetROI' value="0"></label>
						</td>
						<td>设置快门:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetShutter' name='canSetShutter' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetShutter-1' name='canSetShutter' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置帧转移:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetFullFrame' name='canSetFullFrame' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetFullFrame-1' name='canSetFullFrame' value="0"></label>
						</td>
						<td>设置EM:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetEM' name='canSetEM' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetEM-1' name='canSetEM' value="0"></label>
						</td>
						<td>设置CMOS noise filter:</td>
						<td>
							<label>是<input type='radio' id='ccdCanNoiseFilter' name='canNoiseFilter' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanNoiseFilter-1' name='canNoiseFilter' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置Base line:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetBaseline' name='canSetBaseline' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetBaseline-1' name='canSetBaseline' value="0"></label>
						</td>
						<td>设置Over scan:</td>
						<td>
							<label>是<input type='radio' id='ccdCanSetOverScan' name='canSetOverScan' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='ccdCanSetOverScan-1' name='canSetOverScan' value="0"></label>
						</td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='ccdAttrVersion' name='attrVersion'>
						</td>
					</tr>
					<tr>
						<td>属性更新时间:</td>
						<td>
							<input type='text' id='ccdAttrModifyTime' name='attrModifyTime' placeholder="2018-2-28">
						</td>
					</tr>
					<tr>
						<td>上传CCD-No1相关文件:</td>
						<td colspan="5" class="border_td">
							量子效率曲线:<input type='file' name='QECurve'>
							出厂测试报告:<input type='file' name='Specification'>
							说明书:<input type='file' name='ManualBook'>
						</td>
					</tr>
					<tr>
						<td>CCD-No1相关文件:</td>
						<td id='ccdFile' colspan="5" class="border_td">
							<a title="点击下载">lsfdjlks</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a title="点击下载">lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='ccdBtn-1' type='button' value="提交CCD-No1配置">
			</form><!--ccd-No1配置项 结束--><br>

			<h4 class='center'>滤光片固定属性</h4>
			<hr>
			<form id='filter' class="form" enctype='multipart/form-data'><!--滤光片配置项-->
				<table class="center_mrg">
					<tr>
						<td>滤光片ip:</td>
						<td><input type='text' id='filterIp' name='ip' placeholder='ip地址'></td>
						<td>滤光片id:</td>
						<td><input type='text' id='filterId' name='filterId'></td>
						<td>滤光片名称:</td>
						<td><input type='text' id='filterName' name='name'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td><input type='text' id='filterTeleId' name='teleId'></td>
						<td>插槽数目:</td>
						<td><input type='text' id='filterNum' name='numberOfFilter'></td>
						<td>插槽大小:</td>
						<td><input type='text' id='filterSize' name='FilterSize' placeholder='[x,y,z]'></td>
					</tr>
					<tr>
						<td>滤光片类型:</td>
						<td colspan="3" class="border_td">
							插槽序号:<!--此元素的值无须入库-->
							<select id='filterSlot' name='slot'>
								<option value="0">选择插槽-动态改变的</option>
								<option value="0x01">sdfs</option>
							</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							滤光片类型:<!--此元素的值也无须入库 此2元素的点击事件中生成一个数组，然后入库-->
							<select id='filterSystem' name='FilterSystem'>
								<option value="0">选择类型-从后台获取</option>
								<option value="0x01">sdfs</option>
							</select>
						</td>
						<td>滤光片名称:</td>
						<td><input type='text' id='filterName' name='FilterName' placeholder='u/v/r/i...'></td>
					</tr>
					<tr>
						<td>滤光片焦距偏差值（um）:</td>
						<td colspan="3">
							<input type='text' id='filterFocusLengthCompensate' name='FilterFocusLengthCompensate' placeholder="[2 3 4]" style="width:580px;">
						</td>
						<td>滤光片形状:</td>
						<td>
							<select id='filterShape' name='FilterShape'>
								<option value="0">请选择-从后台获取</option>
								<option value="0x01">sdfs</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>设置滤光片位置:</td>
						<td>
							<label>是<input type='radio' id='canSetFilterPosition' name='canSetFilterPosition' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='canSetFilterPosition-1' name='canSetFilterPosition' value="0"></label>
						</td>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='filterCanConnect' name='canConnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='filterCanConnect-1' name='canConnect' value="0"></label>
						</td>
						<td>支持找零:</td>
						<td>
							<label>是<input type='radio' id='filterCanFindHome' name='canFindHome' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='filterCanFindHome-1' name='canFindHome' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>属性修改时间:</td>
						<td>
							<input type='text' id='filterAttrModifyTime' name='attrModifyTime' placeholder="2018-2-28">
						</td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='filterAttrVersion' name='attrVersion'>
						</td>
					</tr>
					<tr>
						<td>上传滤光片相关文件:</td>
						<td colspan="2" class="border_td">
							说明文件:<input type='file' name='specification'>
						</td>
						<td>滤光片相关文件:</td>
						<td colspan="2" class="border_td">
							<a title="点击下载" id='filterFile'>lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='filterBtn' type='button' value="提交滤光片配置">
			</form><!-- 滤光片固定属性配置项 结束--><br>
			
			<h4 class='center'>随动圆顶固定属性</h4>
			<hr>
			<form id='sDome' class="form" enctype='multipart/form-data'><!--随动圆顶配置项-->
				<table class="center_mrg">
					<tr>
						<td>随动圆顶ip:</td>
						<td><input type='text' id='sDomeIp' name='ip' placeholder='ip地址'></td>
						<td>随动圆顶id:</td>
						<td><input type='text' id='sDomeId' name='sdomeId'></td>
						<td>随动圆顶名称:</td>
						<td><input type='text' id='sDomeName' name='name'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td><input type='text' id='sDomeTeleId' name='teleId'></td>
						<td>类型:</td>
						<td>
							<select id='sDomeType' name='DomeType'>
								<option value="0">选择-后台获取</option>
								<option value="0x01">sdfs</option>
							</select>
						</td>
						<td>最大转动速度（度/秒）:</td>
						<td><input type='text' id='sDomeMaxSpeed' name='MaxSpeed' placeholder='小数'></td>
					</tr>
					<tr>
						<td>尺寸大小:</td>
						<td>
							<input type='text' id='sDomeDiameter' name='Diameter' placeholder='小数'></td>
						</td>
						<td>风帘:</td>
						<td>
							<label>有<input type='radio' id='sDomeHasShade' name='HasShade' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>无<input type='radio' id='sDomeHasShade-1' name='HasShade' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置目标方位:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanSetDomePositin' name='canSetDomePositin' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanSetDomePositin-1' name='canSetDomePositin' value="0"></label>
						</td>
						<td>设置风帘位置:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanSetShadePosition' name='canSetShadePosition' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanSetShadePosition-1' name='canSetShadePosition' value="0"></label>
						</td>
						<td>设置转动速度:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanSetRotateSpeed' name='canSetRotateSpeed' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanSetRotateSpeed-1' name='canSetRotateSpeed' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>支持停止运动:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanStop' name='canStop' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanStop-1' name='canStop' value="0"></label>
						</td>
						<td>支持打开天窗:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanOpenShutter' name='canOpenShutter' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanOpenShutter-1' name='canOpenShutter' value="0"></label>
						</td>
						<td>控制风帘运动:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanSetShadeSpeed' name='canSetShadeSpeed' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanSetShadeSpeed-1' name='canSetShadeSpeed' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='sDomeCanConnect' name='canConnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='sDomeCanConnect-1' name='canConnect' value="0"></label>
						</td>
						<td>属性修改时间:</td>
						<td>
							<input type='text' id='sDomeAttrModifyTime' name='attrModifyTime' placeholder="2018-2-28">
						</td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='sDomeAttrVersion' name='attrVersion'>
						</td>
					</tr>
					<tr>
						<td>上传随动圆顶相关文件:</td>
						<td colspan="2" class="border_td">
							说明文件:<input type='file' name='specification'>
						</td>
						<td>随动圆顶相关文件:</td>
						<td colspan="2" class="border_td">
							<a title="点击下载" id='sDomeFile'>lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='sDomeBtn' type='button' value="提交随动圆顶配置">
			</form><!-- 随动圆顶固定属性配置项 结束--><br>

			<h4 class='center'>全开圆顶固定属性</h4>
			<hr>
			<form id='oDome' class="form" enctype='multipart/form-data'><!--全开圆顶配置项-->
				<table class="center_mrg">
					<tr>
						<td>全开圆顶ip:</td>
						<td><input type='text' id='oDomeIp' name='ip' placeholder='ip地址'></td>
						<td>全开圆顶id:</td>
						<td><input type='text' id='oDomeId' name='oDomeId'></td>
						<td>全开圆顶名称:</td>
						<td><input type='text' id='oDomeName' name='name'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td><input type='text' id='oDomeTeleId' name='teleId'></td>
						<td>类型:</td>
						<td>
							<select id='oDomeType' name='type'>
								<option value="0">选择-后台获取</option>
								<option value="1">sdfs</option>
							</select>
						</td>
						<td>尺寸大小（m）:</td>
						<td><input type='text' id='oDomeMinValue' name='Diameter' placeholder='直径'></td>
					</tr>
					<tr>
						<td>支持打开圆顶:</td>
						<td>
							<label>是<input type='radio' id='oDomeCanOpenDome' name='canOpenDome' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='oDomeCanOpenDome-1' name='canOpenDome' value="0"></label>
						</td>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='oDomeCanConnect' name='canConnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='oDomeCanConnect-1' name='canConnect' value="0"></label>
						</td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='oDomeAttrVersion' name='attrVersion'>
						</td>
					</tr>
					<tr>
						<td>属性修改时间:</td>
						<td>
							<input type='text' id='sDomeAttrModifyTime' name='attrModifyTime' placeholder="2018-2-28">
						</td>
						<td>上传全开圆顶相关文件:</td>
						<td colspan="2" class="border_td">
							说明文件:<input type='file' name='specification'>
						</td>
					</tr>
					<tr>
						<td>全开圆顶相关文件:</td>
						<td class="border_td">
							<a title="点击下载" id='oDomeFile'>lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='oDomeBtn' type='button' value="提交全开圆顶配置">
			</form><!-- 全开圆顶固定属性配置项 结束--><br>

			<h4 class='center'>调焦器固定属性</h4>
			<hr>
			<form id='focus' class="form" enctype='multipart/form-data'><!--调焦器配置项-->
				<table class="center_mrg">
					<tr>
						<td>调焦器ip:</td>
						<td><input type='text' id='focusIp' name='ip' placeholder='ip地址'></td>
						<td>调焦器id:</td>
						<td><input type='text' id='focusId' name='focusId'></td>
						<td>调焦器名称:</td>
						<td><input type='text' id='focusName' name='name'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td><input type='text' id='focusTeleId' name='teleId'></td>
						<td>最大值（μm）:</td>
						<td>
							<input type='text' id='focusMaxValue' name='MaxValue' placeholder='小数'>
						</td>
						<td>最小值（μm）:</td>
						<td><input type='text' id='focusMinValue' name='MinValue' placeholder='小数'></td>
					</tr>
					<tr>
						<td>分辨率（μm）:</td>
						<td>
							<input type='text' id='focusIncrement' name='Increment' placeholder='小数'>
						</td>
						<td>最大速度（μm/s）:</td>
						<td>
							<input type='text' id='focusMaxSpeed' name='maxSpeed' placeholder='小数'>
						</td>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='focusCanConnect' name='canConnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusCanConnect-1' name='canConnect' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>支持找零:</td>
						<td>
							<label>是<input type='radio' id='focusCanFindHome' name='canFindHome' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusCanFindHome-1' name='canFindHome' value="0"></label>
						</td>
						<td>进行温度补偿:</td>
						<td>
							<label>是<input type='radio' id='focusTempertureCompensate' name='canTempertureCompensate' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusTempertureCompensate-1' name='canTempertureCompensate' value="0"></label>
						</td>
						<td>设置目标位置:</td>
						<td>
							<label>是<input type='radio' id='focusCanSetPosition' name='canSetPosition' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusCanSetPosition-1' name='canSetPosition' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置恒速运动:</td>
						<td>
							<label>是<input type='radio' id='focusCanSetSpeed' name='canSetSpeed' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusCanSetSpeed-1' name='canSetSpeed' value="0"></label>
						</td>
						<td>支持停止运动:</td>
						<td>
							<label>是<input type='radio' id='focusCanStop' name='canStop' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusCanStop-1' name='canStop' value="0"></label>
						</td>
						<td>使能温度补偿:</td>
						<td>
							<label>是<input type='radio' id='focusEnableTempertureCompensate' name='canEnableTempertureCompensate' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusEnableTempertureCompensate-1' name='canEnableTempertureCompensate' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>设置温度补偿系数:</td>
						<td>
							<label>是<input type='radio' id='focusSetTempertureCompensatecoefficient' name='canSetTempertureCompensatecoefficient' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='focusSetTempertureCompensatecoefficient-1' name='canSetTempertureCompensatecoefficient' value="0"></label>
						</td>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='focusAttrVersion' name='attrVersion'>
						</td>
						<td>属性修改时间:</td>
						<td>
							<input type='text' id='focusAttrModifyTime' name='attrModifyTime' placeholder="2018-2-28">
						</td>
					</tr>
					<tr>
						<td>上传调焦器相关文件:</td>
						<td colspan="2" class="border_td">
							说明文件:<input type='file' name='specification'>
						</td>
						<td>调焦器相关文件:</td>
						<td colspan="2" class="border_td">
							<a title="点击下载" id='focusFile'>lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='focusBtn' type='button' value="提交调焦器配置">
			</form><!--调焦器固定属性配置项 结束--><br>

			<h4 class='center'>导星望远镜固定属性</h4>
			<hr>
			<form id='focus' class="form" enctype='multipart/form-data'><!--导星望远镜配置项-->
				<table class="center_mrg">
					<tr>
						<td>导星望远镜ip:</td>
						<td><input type='text' id='focusIp' name='ip' placeholder='ip地址'></td>
						<td>导星望远镜id:</td>
						<td><input type='text' id='guideScopeId' name='guideScopeId'></td>
						<td>导星望远镜名称:</td>
						<td><input type='text' id='guideScopeName' name='name'></td>
					</tr>
					<tr>
						<td>隶属望远镜:</td>
						<td><input type='text' id='guideScopeTeleId' name='teleId'></td>
						<td>口径:</td>
						<td>
							<input type='text' id='guideScopeAperture' name='aperture' placeholder='小数'>
						</td>
						<td>焦点类型:</td>
						<td>
							<select id='guideScopeOpticalStructure' name='opticalStructure'>
								<option value="0">选择-后台获取</option>
								<option value="1">sdfs</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>焦距:</td>
						<td>
							<input type='text' id='guideScopeFocusLength' name='focusLength' placeholder='小数'>
						</td>
						<td>镜盖（轴5）:</td>
						<td>
							<label>有<input type='radio' id='guideScopeMirrorCover' name='hasMirrorCover' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>无<input type='radio' id='guideScopeMirrorCover-1' name='hasMirrorCover' value="0"></label>
						</td>
						<td>支持自动调焦:</td>
						<td>
							<label>是<input type='radio' id='guideScopeSupportAutoFocus' name='isSupportAutoFocus' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='guideScopeSupportAutoFocus-1' name='isSupportAutoFocus' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>支持连接:</td>
						<td>
							<label>是<input type='radio' id='guideScopeCanConnect' name='canConnect' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='guideScopeCanConnect-1' name='canConnect' value="0"></label>
						</td>
						<td>支持镜盖操作:</td>
						<td>
							<label>是<input type='radio' id='guideScopeOpenCover' name='canOpenCover' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='guideScopeOpenCover-1' name='canOpenCover' value="0"></label>
						</td>
						<td>使能自动调焦:</td>
						<td>
							<label>是<input type='radio' id='guideScopeEnableAutoFocus' name='canEnableAutoFocus' value="1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>否<input type='radio' id='guideScopeEnableAutoFocus-1' name='canEnableAutoFocus' value="0"></label>
						</td>
					</tr>
					<tr>
						<td>属性版本号:</td>
						<td>
							<input type='text' id='guideScopeAttrVersion' name='attrVersion'>
						</td>
						<td>属性修改时间:</td>
						<td>
							<input type='text' id='guideScopeAttrModifyTime' name='attrModifyTime' placeholder="2018-2-28">
						</td>
					</tr>
					<tr>
						<td>上传导星望远镜相关文件:</td>
						<td colspan="2" class="border_td">
							说明文件:<input type='file' name='specification'>
						</td>
						<td>导星望远镜相关文件:</td>
						<td colspan="2" class="border_td">
							<a title="点击下载" id='guideScopeFile'>lsfdjlks</a>
						</td>
					</tr>
				</table>
				<input id='guideScopeBtn' type='button' value="提交导星望远镜配置">
			</form><!--导星望远镜固定属性配置项 结束--><br>

		</div><!-- 所有配置项 结束 -->
	</div><!-- id='all' 结束 --><br>
	<!-- <div class='clear'></div> -->
	<footer class='center clear'>
		<span>中科院国家天文台兴隆观测基地</span>
	</footer>
</body>
</html>