<!--页面共有部分-->
<header class='pos_r'>
    <div class='pos_r'>
       <img class='pos_a' src='/static/images-0/logo1.png'/>
       <div id='atList' class='pos_a'>
             望远镜列表
             {if condition="isset($atList)"}
             <ul id='atListUl' class='center displayNo'>
                {volist name="atList" id="vo"}
                 <li><a href='{:url("xinglong/page/at_page", ["at"=>$vo.id])}' target='_blank'>{$vo.atname}</a></li>
                 <hr>
                {/volist}
             </ul>
             {else /}
             <ul id='atListUl' class='center displayNo'>
                <li>无望远镜</li>
            </ul>
             {/if}
        </div>
        <div id='atConfig' class='pos_a'>
             配置望远镜
             <ul id='atConfigList' class='center displayNo'>
                <li><a href='{:url("/atlist")}' target='_blank'>望远镜列表</a></li>
                {if condition="$Think.session.role!=2"}
                <hr>
                <li><a href='{:url("/atadd")}' target='_blank'>添加望远镜</a></li>
                <hr>
                <li><a href='{:url("/atconfig")}' target='_blank'>配置望远镜</a></li>
                {/if}
             </ul>
        </div>
        
        {if condition="$Think.session.role!=2"}
            <a href='{:url("/ToO")}' style="position: relative;left: 33%;color:#eaf1f9; cursor: pointer;" target='_blank'>协同观测</a>&nbsp;&nbsp;
            <a href='{:url("/ToO_1")}' style="position: relative;left: 33%;color:#eaf1f9; cursor: pointer;" target='_blank'>ToO观测</a>
        {/if}
       <!-- <a href="{:url('/xinglong/result')}" class='pos_r' id='res'>观测结果</a> -->
        <p class='pos_a'>
             <a href="{:url('/front')}">首页&nbsp;&nbsp;&nbsp;&nbsp;
             </a>
             {if	condition="$Think.session.role == 1 "}
             <a href="{:url('/user')}">用户管理&nbsp;&nbsp;&nbsp;&nbsp;</a>
             {/if}
             <a href="{:url('/user/passwd')}">修改密码&nbsp;&nbsp;&nbsp;&nbsp;
             </a>
             <span>欢迎!&nbsp;&nbsp;{$Think.session.login ?? ''}&nbsp;
             </span>
        </p>
        <div class='pos_a' style="width:78px;"><a href="{:url('/logout')}">&nbsp;&nbsp;&nbsp;退出&nbsp;&nbsp;&nbsp;</a></div> 
     </div>
 </header>