<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>各望远镜</title>
     {load href='/static/css/common-1.css'}
     {load href='/static/css/at60_1.css'}
     {load href='/static/plugin/easyui-1.3.5/themes/default/easyui.css'}
     {load href='/static/plugin/easyui-1.3.5/themes/icon.css'}
     {load href='/static/plugin/easyui-1.3.5/jquery.min.js'}
     {load href='/static/plugin/easyui-1.3.5/jquery.easyui.min.js'}
     {load href='/static/plugin/easyui-1.3.5/locale/easyui-lang-zh_CN.js'}
     {load href='/static/js/at60.js'}
     {load href='/static/plugin/layer/layer.js'}
     <style>
       #atConfig-1 {left: -315px; border:0;}
     </style>
</head>
<body>
	{include file="common/common_test"/}
    <div id='all'>
        <h4>页面主体</h4>
        <h4>页面主体</h4>
        <h4>页面主体</h4>
        <h4>页面主体</h4>
        <h4>页面主体</h4>
        <h4>页面主体</h4>
        <h4>页面主体</h4>
        <h4>页面主体</h4>
	</div><!-- id='all' 结束 --><br>
	<footer class='center clear'>
		<span>中科院国家天文台兴隆观测基地</span>
	</footer>
</body>
</html>
<!-- <span>全开圆顶操作指令:</span><br />
               <input id='fDomeConnect' type='button' value='连接圆顶' />
			   打开圆顶：<select name="openDome" style='width:90px;'>
										<option value="">请选择</option>
									   <option value="0">关闭</option>
									   <option value="1">打开</option>
									   <option value="2">停止运动</option>
</select> -->