<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>用户管理</title>
   {load href='/static/css/userIndex.css'}
	 {load href='/static/plugin/easyui-1.3.5/jquery.min.js'}
	 {load href='/static/plugin/layer/layer.js'}
	 {load href='/static/js/user.js'}
	 {load href='/static/css/common-1.css'}
</head>
<body>
	<img src='/static/images-1/top.jpg' style='width:100%'/>
	{include file="common/common"/}
	<div id='all'>
	   <div id='user'>
		  <span class='title_text'>用户列表</span>
			<br><a class='fl border1' href="{:url('/user/add')}">添加用户</a>
		  <form class='fr' action="{:url('/user')}" method='post'>
		    <input id='keywd' class='border' type='text'  name='keyword' placeholder='输入用户名'/> 
			<input class='border1' type='submit' value='查询'> 
			</form><br><br>
			{if condition="isset($userList)"}
		  <table style="table-layout:fixed;">
			   <tr id='t1'>
				  <td width="5%">序号</td> <td width="11%">用户名</td> <td width="10%">权限</td> <td style="word-wrap:break-word">可查看的望远镜</td> <td style="word-wrap:break-word">可操作的望远镜</td> <td width="9%">操作</td>
				 </tr>
						{volist name='userList' id='user'}
						<tr>
							<td>{$user.num}</td> <td>{$user.username}</td> <td>{$user.description}</td>
							<td>{$user.look}</td>
							<td>{$user.operate}</td> 
							<td>
							<a href="{:url('xinglong/user/edit', ['id'=>$user.id])}">编辑&nbsp;&nbsp;</a>
							{if condition="$user.role != 1"}
								{if condition="$user.status == 1"}
									<a class='userOff' href='#' uid='{$user.id}'>禁用</a>
								{elseif condition="$user.status == 2"/}
									<a class='userOn' href="#" uid='{$user.id}'>启用</a>
								{/if}
							{/if}
							</td>
						</tr>
						{/volist}
		  </table>
	   </div>
		 <div id='paging'>{$userList->render()}<!--显示用户的分页-->
		{/if}
			<span>{$notice ?? ''}</span>
	</div>
	</div><br><br>
		
	<footer class='center clear'>
		<span>中科院国家天文台兴隆观测基地</span>
	</footer>
</body>
</html>