<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>增删固定属性</title>
    {load href='/static/plugin/easyui-1.3.5/jquery.min.js'}
    {load href='/static/plugin/layer/layer.js'}
    {load href='/static/css/common-1.css'}
    {load href='/static/css/conf_index.css'}
    {load href='/static/js/conf_index.js'}
    <!--  {load href='/static/plugin/easyui-1.3.5/themes/icon.css'}
    {load href='/static/plugin/easyui-1.3.5/themes/default/easyui.css'}
    {load href='/static/plugin/easyui-1.3.5/jquery.easyui.min.js'}
    {load href='/static/plugin/easyui-1.3.5/locale/easyui-lang-zh_CN.js'} -->
</head>
<body>
	{include file="common/common"/}
    <div id='all'>
		<table id='tbl' class="center_mrg">
            <tr>
                <td>
                    转台类型：<input type="text">
                    <input type="button" id='gimbaltypeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='gimbaltype'>查看：转台类型</a>
                </td>
            </tr>
            <tr>
                <td>
                    焦点类型：<input type="text">
                    <input type="button" id='focustypeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='focustype'>查看：焦点类型</a>
                </td>
            </tr>
            <tr>
                <td>
                    图像位数：<input type="text" placeholder="正整数">
                    <input type="button" id='imageBitsBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='imageBits'>查看：图像位数</a>
                </td>
            </tr>
            <tr>
                <td>
                    CCD探测器类型：<input type="text">
                    <input type="button" id='ccdTypeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='ccdType'>查看：CCD探测器类型</a>
                </td>
            </tr>
            <tr>
                <td>
                    制冷方式：<input type="text" placeholder="格式:液氮制冷">
                    <input type="button" id='coolerModeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='coolerMode'>查看：制冷方式</a>
                </td>
            </tr>
            <tr>
                <td>
                    读出模式：<input type="text" placeholder="格式:单门读出">
                    <input type="button" id='readoutModeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='readoutMode'>查看：读出模式</a>
                </td>
            </tr>
            <!-- <tr>
                <td>
                    增益模式：<input type="text" placeholder="格式:High Capacity">
                    <input type="button" id='gainmodeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='gainmode'>查看：增益模式</a>
                </td>
            </tr> -->
            <tr>
                <td>
                    Bin：<input type="text" placeholder="格式:2*2">
                    <input type="button" id='binBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='bin'>查看：Bin</a>
                </td>
            </tr>
            <tr>
                <td>
                    快门类型：<input type="text" placeholder="格式:无快门">
                    <input type="button" id='ShutterTypeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='ShutterType'>查看：快门类型</a>
                </td>
            </tr>
            <tr>
                <td>
                    快门模式：<input type="text" placeholder="格式:GlobalShutter">
                    <input type="button" id='ShutterModeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='ShutterMode'>查看：快门模式</a>
                </td>
            </tr>
            <tr>
                <td>
                    ccd接口类型：<input type="text" placeholder='usb 2.0'>
                    <input type="button" id='InterfaceTypeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='InterfaceType'>查看：ccd接口类型</a>
                </td>
            </tr>
            <tr>
                <td>
                    曝光触发模式：<input type="text" placeholder="硬件触发">
                    <input type="button" id='ExposeTriggerModeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='ExposeTriggerMode'>查看：曝光触发模式</a>
                </td>
            </tr>
            <tr>
                <td>
                    滤光片类型：<input type="text" placeholder="格式:Sloan">
                    <input type="button" id='FilterSystemBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='FilterSystem'>查看：滤光片类型</a>
                </td>
            </tr>
            <tr>
                <td>
                    滤光片形状：<input type="text" placeholder="圆形">
                    <input type="button" id='FilterShapeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='FilterShape'>查看：滤光片形状</a>
                </td>
            </tr>
            <tr>
                <td>
                    随动圆顶类型：<input type="text" placeholder="半球">
                    <input type="button" id='slaveDomeTypeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='slaveDomeType'>查看：随动圆顶类型</a>
                </td>
            </tr>
            <tr>
                <td>
                    全开圆顶类型：<input type="text" placeholder="平移屋顶">
                    <input type="button" id='openDomeTypeBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='openDomeType'>查看：全开圆顶类型</a>
                </td>
            </tr>
            <tr>
                <td>
                    导星镜焦点类型：<input type="text" placeholder="卡塞格林">
                    <input type="button" id='opticalStructureBtn' value="确认提交">
                </td>
                <td>
                    <a href="#" id='opticalStructure'>查看：导星镜焦点类型</a>
                </td>
            </tr>  
        </table><br><br>
        <div id='confPopup' class="displayNo"><!--显示各固定属性列表的弹窗-->
            <div id='confWindow' class='center'>
                <span id='tableHead' style='font-size:18px;'></span>
                <table id='winTable' class='center_mrg'>
                </table>
                <br>
            </div>
        </div><!-- 显示各固定属性列表的弹窗 -->
    </div><!-- id='all' 结束 --><br>
	<footer class='center clear'>
		<span>中科院国家天文台兴隆观测基地</span>
	</footer>
</body>
</html>